@import "src/sass/base/mixins"


.countrySection
  &__wrapper
    display: flex
    flex-wrap: wrap
    row-gap: 5px
    justify-content: space-between
  &__box
    width: 25%
    align-items: center
    display: flex
    column-gap: 10px

  &__span
    background: black
    width: 40px
    height: 40px