@import "src/sass/base/mixins"
.target
  position: relative
  padding: 158px 0
  &__container
    position: relative
    z-index: 1
    display: flex
    justify-content: center
    align-items: center
  &__h2
    @include text(800,35px,42px,#40A865)
    margin-bottom: 15px
  &__p
    @include text(400,30px,40px,#000)
    width: 615px
  &__txt
    background: #FFFFFF
    margin-left: -100px
    padding: 50px