@import "src/sass/base/mixins"
.home__bg
  background: url("./bg.png") center/cover no-repeat
.target
  position: relative
  padding: 158px 0
  overflow: hidden

  &__container

    position: relative
    z-index: 1
    display: flex
    justify-content: center
    align-items: center
    column-gap: 30px
  &__h2
    @include text(900,30px,133%,#FFF)
    margin-bottom: 15px
  &__p
    @include text(400,30px,40px,#FFF)
    width: 615px
  &__txt
    background: linear-gradient(#40A865 ,#3888BC 100%)
    padding: 50px
    box-shadow: 0px 38px 62px 0px rgba(0, 0, 0, 0.30), 0px 1.8353102207183838px 3.6706204414367676px 0px rgba(255, 255, 255, 0.25) inset
    border-radius: 61px

@media (max-width: 1025px)
  .target
    &__img
      svg
        width: 300px

    &__p
      @include text(400,30px,40px,#FFF)
      width: 560px
    &__h2
      @include text(800,30px,42px,#FFF)
    &__txt

      padding: 25px

@media (max-width: 955px)
  .target
    padding: 0 0 75px 0
    &__container
      display: flex
      row-gap: 25px
      flex-direction: column
    &__h2
      text-align: center
      @include text(800,26px,42px,#FFF)
    &__p
      @include text(400,22px,40px,#FFF)

@media (max-width: 770px)
  .target
    &__container

      row-gap: 0
      width: 90%
    &__img
      svg
        width: 250px
    &__txt

      text-align: center
      justify-content: center
      display: flex
      flex-direction: column

    &__p
      width: 100%
      display: flex
      @include text(400,17px,40px,#FFF)

      margin:  0 auto
@media (max-width: 482px)
  .target
    &__img
      padding: 10px 0
      svg
        width: 152px
        height: 180px
    &__h2
      @include text(800,22px,42px,#FFF)
      margin-bottom: 0
    &__p
      @include text(400,15px,40px,#FFF)
@media (max-width: 394px)
  .target
    &__h2
      @include text(800,20px,42px,#FFF)
    &__p
      @include text(400,14px,40px,#FFF)

