@import "src/sass/base/mixins"

.stand
  position: relative
  text-align: center
  padding-top: 71px


  &__h2
    @include text(800, 30px, 133%, #10923E)

  &__p
    padding-top: 24px
    @include text(500, 18px, 133%, #000000)
    width: 678px
    margin: 0 auto



