@import "src/sass/base/mixins"
.hotelCard
  padding-bottom: 43px

  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
  &:last-child
    border-bottom: 0
    padding-bottom: 0
  .row2
    display: none
  &__wrapper
    margin-bottom: 5px
    display: flex
    column-gap: 35px
  &__box
    width: 100%
  &__pic

    img
      width: 250px
      height: 200px
      border-radius: 16px

  &__p
    @include text(400,18px,133%,#000)

    margin-bottom: 37px
  &__svg
    transition: .2s
    position: relative
    left: 0
    display: flex
    align-items: center
  &__next
    display: flex
    align-items: center
    column-gap: 10px
    cursor: pointer
    width: 170px
    &:hover .hotelCard__svg
      left: 10px
  //&__box
  //  margin: 0 23px 0 35px
  &__h3
    @include text(700,25px,133%,#000)

  &__row
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
  &__map
    display: flex
    align-items: center
    column-gap: 10px
  &__link
    @include text(500,18px,133%, #0057BC)
  &__text
    @include text(400,18px,133%,#03C)
  &__ul
    row-gap: 3px
    display: flex
    flex-direction: column
    padding: 10px 0
  &__li
    @include text(400,20px,133%,#000)
    white-space: pre-line




@media (max-width: 1025px)

  .hotelCard
    &__h3
      @include text(700,20px,133%,#000)
    &__p
      @include text(400,16px,133%,#000)
      width: 594px
    &__text
      @include text(400,16px,133%,#000)
    &__location
      svg
        width: 16px
        height: 22px
    &__pic
      img
        width: 200px
        height: 260px
    &__li
      @include text(400,18px,133%,#000)




@media (max-width: 1025px)
  .hotelCard
    &__li
      @include text(400,16px,133%,#000)

@media (max-width: 770px)
  .hotelCard
    &__wrapper
      column-gap: 15px
@media (max-width: 482px)
  .hotelCard

    .row2
      display: flex
      margin-bottom: 10px
    .row
      display: none
    &__wrapper
      display: flex
      flex-direction: column
    &__pic
      img
        width: 100%

    &__text
      transform: rotate(0deg)
      writing-mode: horizontal-tb
      @include text(400,14px,133%, #000)
    &__map
      display: flex
      column-gap: 14px
      align-items: center
    &__p
      width: 428px
      margin-bottom: 25px
@media (max-width: 394px )
  .hotelCard
    &__wrapper
      display: flex
      flex-direction: column
    &__box
      margin: 0 auto
      display: flex
      flex-direction: column
    &__li
      @include text(400,13px,133%,#000)


    &__h3
      @include text(700,18px,133%,#000)
    &__p
      @include text(400,15px,133%,#000)
      width: 350px
    &__link
      @include text(500,16px,133%, #0033CC)
    &__map
      align-items: center
      display: flex
    &__text
      transform: rotate(360deg)
      writing-mode: inherit



