@import "src/sass/base/mixins"
.hotelCard
  padding-bottom: 43px
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
  &__wrapper
    display: flex
  &__pic
    width: 250px
    height: 200px
    background: #00000070
  &__p
    @include text(400,18px,133%,#000)
    width: 838px
    margin-bottom: 37px
  &__svg
    transition: .2s
    position: relative
    left: 0
  &__next
    display: flex
    align-items: center
    column-gap: 10px
    cursor: pointer
    width: 170px
    &:hover .hotelCard__svg
      left: 10px
  &__box
    margin: 0 23px 0 35px
  &__h3
    @include text(700,25px,133%,#000)
    margin-bottom: 10px
  &__link
    @include text(500,18px,133%, #0057BC)
  &__text
    writing-mode: vertical-lr
    @include text(400,18px,133%,#000)
    margin-top: 10px
    transform: rotate(180deg)
