@import "src/sass/base/mixins"
.mapSection
  position: relative
  &__container
    padding: 69px 0 48px 0
  &__h2
    @include text(800,45px,133%,#10923E)
    width: 670px
    text-transform: uppercase
    margin: 0 auto 32px auto


  &__p
    width: 1170px
    @include text(500,20px,133%, #000000)
    margin-bottom: 100px


  &__wrapper
    display: flex
    flex-wrap: wrap
    column-gap: 88px
    row-gap: 75px

  &__txt
    @include text(500,18px,133%, #000000)
    width: 341px

  &__left
    width: 417px
    height: 417px
    position: absolute
    left: -180px
    top: -140px
  &__image
    border-radius: 50%
    width: 810px
    margin: 0 auto 33px auto


