@import "src/sass/base/mixins"
.mapSection
  position: relative
  &__container
    padding: 50px 0 48px 0
  &__h2
    @include text(800,45px,133%,#10923E)
    width: 100%
    text-align: center
    text-transform: uppercase
    margin: 0 auto 32px auto
    position: absolute
    top: 150px
    left: 0
    right: 0


  &__p
    width: 1170px
    @include text(500,20px,133%, #000000)
    margin-bottom: 100px


  &__wrapper
    display: flex
    flex-wrap: wrap
    column-gap: 88px
    row-gap: 75px

@media (max-width: 1440px)
@media (max-width: 1201px)
@media (max-width: 1025px)
  .mapSection
    &__h2
      @include text(800,35px,133%,#40A865)

    &__p
      width: 921px
      @include text(500,18px,133%,#000000)
      margin-bottom: 57px




@media (max-width: 769px )
  .mapSection
    &__h2
      position: relative

@media (max-width: 394px )


