@import "src/sass/base/mixins"
.cardMembers
  position: relative
  width: 32%
  background: rgba(255, 255, 255, 0.25)
  border: 1px solid rgba(255, 255, 255, 0.5)
  backdrop-filter: blur(15px)
  padding: 45px 36px





  &__h2
    @include text(700, 30px, 133%, #ffffff)
    text-align: center
    margin-bottom: 10px






  &__h3
    @include text(500, 20px, 133%, #ffffff)
    text-align: center



    margin-top: auto

@media (max-width: 1201px)


@media (max-width: 1025px)
  .cardMembers
    &__h2
      @include text(700,20px,133%,#00862D)
      margin-top: 32px
    &__h3
      @include text(400,15px,133%,#000000)
      margin-top: 10px
@media (max-width: 769px)
  .cardMembers
    width: 262px
    &__h2
      @include text(700,16px,133%,#00862D)


@media (max-width: 394px )
  .cardMembers
    &__h2
      @include text(700,18px,133%,#00862D)
      margin-top: 24px
    &__h3
      @include text(400,15px,133%,#000000)
      margin-top: 10px



