@import "src/sass/base/mixins"
.advertising
  padding-top: 70px


  &__img
    width: 1170px
  &__svg
    display: flex
    padding-top: 22px

    justify-content: space-between




  &__png

    width: 570px

