@import "src/sass/base/mixins"
.sector
  position: relative
  &__container
    padding: 150px 0
  &__h2
    @include text(800,35px,42px,#10923E)
    margin-bottom: 50px
  &__h3
    @include text(600,20px,26px,#000)
    margin-bottom: 2px
  &__p
    @include text(400,20px,26.6px,#000)
    width:  67%
    margin: 0 auto
  &__wrapper
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    row-gap: 50px
  &__wrapper
    .sector-card:nth-child(even)
      flex-direction: row-reverse