@import "src/sass/base/mixins"

.speaker
  &__container
    padding-bottom: 105px
  &__h2
    @include text(800,35px,120%,#00862D)
    margin:  0 0 35px 0
  &__btn
    display: flex
    justify-content: center
    margin: 70px auto 0 auto
  &__wrapper
    display: flex
    column-gap: 48px
    flex-wrap: wrap
    row-gap: 25px


@media (max-width: 394px )
  .speaker
    &__container
      padding-bottom: 70px


