@import "src/sass/base/mixins"

.baseForm
  background: #00000070
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  justify-content: center
  align-items: center
  display: flex
  z-index: 1000
  &__wrapper
    margin: 350px
    position: relative
    width: 760px
    background: #FFFFFF
    padding: 0 30px
  &__close
     position: absolute
     right: 18px
     top: 18px

  &__h2
    padding-top: 39px
    display: flex
    justify-content: center
    @include text(600,30px,133%,#000)
    margin-bottom: 20px

  &__p

    width: 678px
    padding: 10px
    background: #dcdc4c
    margin: 0 auto
    @include text(400,10px,133%,#000)

  &__form
    display: flex
    flex-direction: column
    margin-top: 27px
  &__label

    row-gap: 7px
    margin-bottom: 20px
    @include text(600,16px,133%,#000)
    input
      width: 100%
      border: 1px solid #00000080
      border-radius: 4px
      padding: 8px 5px
    display: flex
    flex-direction: column
  &__text
    @include text(600,16px,133%,#000000)
  &__passport
    display: flex
    flex-direction: column
    row-gap: 15px
    h3
      @include text(600,14px,133%,#3378C9)

  &__passport2
    display: flex
    flex-direction: column
    row-gap: 15px
    h3
      @include text(600,14px,133%,#3378C9)
  &__self
    display: flex
    flex-direction: column
    row-gap: 15px
    h3
      @include text(600,14px,133%,#3378C9)
  &__download
    display: flex
    align-items: center
    column-gap: 8px
    margin-bottom: 30px
