@import 'src/sass/base/mixins.sass'



.gallerySection
  margin-top: 59px
  &__container
    margin: 0 auto
  &__h2
    display: flex
    justify-content: center
    margin-bottom: 20px
    @include text(800,32px,120%,#00862D)
  &__box

    display: flex
    flex-wrap: wrap
    justify-content: center
    column-gap: 17px
    row-gap: 15px
  &__item
    width: 280px
    height: 280px
    background: #4B4B4B