@import "src/sass/base/mixins"

.map
  &__title
    @include text(800,35px,120%,#10923E)
    padding-top: 150px
    margin-bottom: 50px
  &__container
    padding-bottom: 150px
    display: flex
    align-items: flex-start
    justify-content: space-between
    column-gap: 60px
  &__tabs
    display: flex
    row-gap: 20px
    flex-direction: column
  &__wrapper iframe
    margin-bottom: 45px
    width: 600px
    height: 450px

@media (max-width: 394px )
  .map
    &__container
      flex-direction: column
    &__wrapper iframe
      width: 350px
      height: 280px
    &__title
      @include text(800,25px,120%,#10923E)
      padding-top: 60px
      margin-bottom: 50px
    &__tabs
      padding-bottom: 40px


