@import "src/sass/base/mixins"
.question
  &__container
    padding: 71px 100px
  &__block
    background: #FFFFFF
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08)
    display: flex
    justify-content: space-between
    padding: 26px 29px 26px 46px
  &__h2
    @include text(800,35px,133%,#10923E)
    text-align: center
    text-transform: uppercase
    margin: 0 0 73px 0
