@import "src/sass/base/mixins"



.edgeCard
  width: 45%
  display: flex
  column-gap: 20px
  &__img
    width: 100px
    height: 100px
    img
      width: 100px
      height: 100px
  &__box
    display: flex
    flex-direction: column
    row-gap: 15px
  &__h2
    @include text(700,24px,133%,#40A865)
  &__p
    @include text(500,18px,133%,#000)


@media (max-width: 1201px)
  .edgeCard
    &__p
      @include text(500,16px,133%,#000)

@media (max-width: 935px)
  .edgeCard
    width: 100%
@media (max-width: 770px)
  .edgeCard
    &__h2
      font-size: 20px
    &__p
      font-size: 14px