@import "src/sass/base/mixins"
.benefits
  position: relative
  padding-top: 71px


  &__h2
    text-align: center
    @include text(800, 35px, 133%, #10923E)
  &__wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    row-gap: 100px