@import "src/sass/base/mixins"
.btnprofile
  &__box
   bottom: 0
   border-radius: 4px
   background: #2489FF
   display: flex
   column-gap: 5px
   padding: 10px
   margin-top: 95px
  &__redact
    @include text(600,18px,133%,#fff)