@import "src/sass/base/mixins"
.btnprofile
  &__box
   border-radius: 4px
   background: #2489FF
   display: flex
   align-items: center
   column-gap: 5px
   padding: 10px
  &__redact
    @include text(600,18px,133%,#fff)