@import "src/sass/base/mixins"
.btnprofile
  &__box
   border-radius: 4px
   background: #2489FF
   display: flex
   align-items: center
   column-gap: 5px
   padding: 10px
  &__redact
    @include text(600,18px,133%,#fff)


@media (max-width: 1201px)
  .btnprofile
    &__box
      padding: 7px
    &__redact
      font-size: 14px
    &__svg
      svg
        width: 15px
        height: 15px

@media (max-width: 1025px)
  .btnprofile
    &__redact
      font-size: 12px
    &__svg
      svg
        width: 13px
        height: 13px
@media (max-width: 770px)
  .btnprofile
    &__box
      padding: 5px
    &__redact
      font-size: 8px
    &__svg
      svg
        width: 9px
        height: 9px
@media (max-width: 482px)
  .btnprofile
    &__redact
      font-size: 14px
    &__svg
      svg
        width: 18px
        height: 18px