@import "src/sass/base/mixins"

.B2bCard
  &__box
    display: flex
    column-gap: 22px
    row-gap: 10px
    flex-wrap: wrap


@media (max-width: 482px)
  .B2bCard
    &__box
      justify-content: center