@import "src/sass/base/mixins"
.massSection
  position: relative
  background: url("./bg.png") center/cover



  &__img
    position: absolute
    left: 50%
    transform: translate(-50%, -50%)
    bottom: 84px
    img
      width: 458px
      height: 458px
  &__h2
    @include text(1000,50px,133%,#FFFFFF)
    background: url("./mass.png") center/cover no-repeat
    height: 287px
    width: 100vw
    display: flex
    align-items: center
    justify-content: center
    text-align: center
  &__p
    margin-top: 64px
    text-align: center
    @include text(500,24px,133%,#000)

    @include text(500,24px,133%,#000000)
  &__wrapper
    margin-top: 50px
    padding-bottom: 50px
  &__ul
    display: flex
    flex-direction: column
    row-gap: 40px
    padding-bottom: 285px

  &__li

    column-gap: 15px
    display: flex
    position: relative

    align-items: center
  &__circle
    left: -10px
    position: absolute
    width: 20px
    height: 20px
    background: #3378C9
    filter: blur(5px)
  &__item
    padding-left: 40px
    @include text(500,22px,133%,#000000)
  &__text
    @include text(500,20px,133%,#FFF)
    margin: 50px auto 0
    background: linear-gradient(45deg, rgba(16, 146, 62, 0.12) 0%, rgba(255, 255, 255, 0.20) 35.42%, rgba(255, 255, 255, 0.20) 48.25%, rgba(16, 146, 62, 0.12) 100%), radial-gradient(75.67% 66.60% at 9.69% 11.40%, rgba(0, 0, 0, 0.20) 0%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%), #40A865
    padding: 37px 60px
    border-radius: 16px 98px
    box-shadow: 32px 38px 30px 0 rgba(73, 70, 70, 0.20)
    position: relative
    z-index: 2






@media (max-width: 1201px)
  .massSection
    &__img
      bottom: 120px
      img
        width: 361px
        height: 361px
    &__ul
      padding-bottom: 162px

    &__h2
      @include text(1000,41px,133%,#FFFFFF)
      height: 240px
    &__p

      @include text(500,20px,133%,#000)
    &__item
      padding-left: 40px
      @include text(500,18px,133%,#000000)
    &__text
      @include text(500,16px,133%,#FFF)
      max-width: 735px
@media (max-width: 1130px)
  .massSection
    &__container
      padding: 0 50px

@media (max-width: 1025px)
  .massSection
    &__container
      padding: 0
    &__img
      bottom: 136px
      img
        width: 343px
        height: 343px
    &__h2
      @include text(1000,35px,133%,#FFFFFF)
      height: 212px

    &__p
      @include text(500,18px,133%,#000000)
      padding: 15px 10px
    &__item
      padding-left: 20px
      @include text(500,16px,133%,#000000)
@media (max-width: 965px)
  .massSection
    &__container
      padding: 0 30px

@media (max-width: 770px )
  .massSection
    &__img
      bottom: 250px
      img
        width: 255px
        height: 255px
    &__ul
      padding-bottom: 132px
    &__container
      padding: 0
    &__h2
      @include text(1000,35px,133%,#FFFFFF)
      height: 279px
      background: url("./mass770.png") center/cover no-repeat
    &__item
      @include text(500,15px,133%,#000000)

@media (max-width: 698px)
  .massSection
    &__container
      padding: 0 30px
@media (max-width: 567px)
  .massSection
    &__text
      padding: 27px 50px


@media (max-width: 482px)
  .massSection
    &__img
      bottom: 235px
      img
        height: 315px
        width: 331px

    &__h2
      height: 197px

      background: url("./mass2.png") center/cover no-repeat
    &__p

      @include text(500,16px,133%,#000)
    &__item
      padding-left: 20px
      @include text(500,14px,133%,#000000)
@media (max-width: 415px)
  .massSection
    &__img
      bottom: 290px

@media (max-width: 394px )
  .massSection
    &__img
      bottom: 163px
    &__container
      padding: 0


