@import "src/sass/base/mixins"
.massSection
  &__h2

    @include text(500,20px,133%,#000000)
    border: 0.5px solid rgba(0, 0, 0, 0.5)

    padding: 24.5px 13px
    margin-top: 85px
@media (max-width: 1440px)
@media (max-width: 1201px)
@media (max-width: 1025px)
  .massSection
    &__h2
      @include text(500,18px,133%,#000000)
      padding: 17px 13px
      margin-top: 70px
      border: 0.5px solid rgba(0, 0, 0, 0.5)

@media (max-width: 769px )

@media (max-width: 394px )
  .massSection
    &__h2
      @include text(500,16px,133%,#000000)
      padding: 23px 11px
      margin-top: 65px
      border: 0.5px solid rgba(0, 0, 0, 0.5)


