@import "src/sass/base/mixins.sass"
.btn
  padding: 13.5px 27px
  border-radius: 5px
  @include text(500,14px,133%,#ffffff)
  background: #0057BC
  border: 2px solid #0057BC
  &_big
    @include text(400,20px,133%,#ffffff)
    padding: 16.5px 44.5px
  &_border
    border: 2px solid #0057BC
    color: #0057BC
    background: transparent
  &_register
    margin-top: 43px
    width: 226px




  &:hover
    background: #FFFFFF
    border: 2px solid #0057BC
    color: #0057BC
  &_border:hover
    background: #0057BC
    color: #FFFFFF
