@import "src/sass/base/mixins.sass"
.btn
  padding: 13.5px 27px
  border-radius: 5px
  @include text(500,14px,133%,#ffffff)
  background: #0057BC
  border: 2px solid #0057BC
  &_big
    @include text(400,20px,133%,#ffffff)
    padding: 16.5px 44.5px
  &_border
    padding: 9px 18px
    border: 2px solid #0057BC
    color: #0057BC
    background: transparent

  &_login
    width: 120px
    margin-top: 20px

  &_register
    margin-top: 43px
    width: 226px
  &_masmedia
    width: 226px
  &_stand
    padding: 11px 21px
    margin-bottom: 26px
  &_demo
    width: 180px
    margin: 0 auto
  &_aboutSection
    background: #ffffff
    color: #0057BC
    transition: 0.3s
    &:hover
      box-shadow: -10px 10px 0px rgba(255, 255, 255, 0.2)
  &_tradeStand
    display: flex
    margin: 97px auto
  &_invest

    display: flex
    margin: 50px auto

  &:hover
    background: #FFFFFF
    border: 2px solid #0057BC
    color: #0057BC
  &_border:hover
    background: #0057BC
    color: #FFFFFF

@media (max-width: 1201px)
  .btn
    &_border
      @include text(400,11px,133%,#0033CC)

@media (max-width: 1025px)
  .btn
    &_card
      @include text(400,13px,133%,#0033CC)
      background: #FFFFFF


@media (max-width: 770px)
  .btn
    &_border
      padding: 7px 11px
