@import "fonts/Gilroy/stylesheet.css"
*
  padding: 0
  margin: 0
  box-sizing: border-box
  text-decoration: none
  list-style-type: none
  resize: none
  outline: none
  border: none
  font-family: "Gilroy",sans-serif
body
  padding: 104px 0 0 0
img
  width: 100%
  height: auto
.container
  max-width: 1440px - 135 * 2
  margin: 0 auto
.container_fluid
  width: 100%

//@media (max-width: 1440px)
//@media (max-width: 1201px)
//@media (max-width: 1025px)
//@media (max-width: 769px )
//@media (max-width: 481px )
//@media (min-width: 320px)
//@media (min-width: 481px)
//@media (min-width: 769px)
//@media (min-width: 1025px)
//@media (min-width: 1201px)