@import "src/sass/base/mixins"

.opportunity
  overflow: hidden
  &__container
    padding: 100px 0
    position: relative
    background: linear-gradient(180deg, #001F43 10.32%, #023571 83.24%)
  &__bg
    position: absolute
    top: 500px
    left: 0
    right: 0
    bottom: 0
    margin: auto
  &__h2
    @include text(800,70px,110%,#10923E)
  &__p
    @include text(400,15px,133%,#000)
  .six
    background: url("./six.svg") center no-repeat
    width: 100px
    height: 100px
    display: flex
    justify-content: center
    align-items: center
    position: relative
  .six-blue
    position: absolute
    top: -50px
    left: 0
    right: 0
    bottom: 0
    margin: auto
    width: 14.444vw
    height: 14.444vw
  .box
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  .six
    text-align: center
    &__img
      width: 3.125vw
      height: 3.125vw
    &__h3
      margin-top: 8px
      @include text(400,20px,24px,#fff)

  .row
    display: flex

    justify-content: space-between
    margin: 0 auto
    &__top
      align-items: flex-end
      margin-bottom: 5.556vw
      width: 69.444vw

      .box__1
        margin-bottom: 17.361vw
        margin-left: 6.250vw
        margin-right: 6.250vw
      .box__2
        margin-bottom: 11.111vw
    &__bot
      align-items: flex-start
      width: 72.917vw
      .box__1
        margin-top: 14.236vw
        margin-left: -3.472vw
      .box__2
        margin-top: 14.236vw
        margin-right: -3.472vw
      .box__3
        margin-top: 23.889vw
        margin-left: 3.125vw
        margin-right: 6.944vw
      .box__4
        margin-top: 23.889vw
        margin-right: 3.125vw
@media (max-width: 394px )
  .opportunity