@import "src/sass/base/mixins"
.hotel
  &__container
    padding: 71px 0  100px 0
  &__h2

    @include text(800,30px,133%,#10923E)
    text-align: center
    margin: 0 0 72px 0
  &__wrapper
    display: flex
    flex-direction: column
    row-gap: 43px
  &__block
    text-align: center
  &__txt
    @include text(500,24px,133%,#00862D)
    padding: 60px 0 30px 0


  &__h3
    @include text(500,24px,133%,#00862D)








@media (max-width: 1201px)
@media (max-width: 1025px)
  .hotel
    &__container
      padding: 60px 0 50px 0
@media (max-width: 770px)
  .hotel
    &__container
      padding: 90px 0 40px 0
    &__h2
      margin-bottom: 50px

@media (max-width: 482px)
  .hotel
    &__container
      padding: 50px 0 40px 0
    &__h2
      margin-bottom: 40px
    &__wrapper
      row-gap: 35px
@media (max-width: 394px )
  .hotel
    &__container
      padding: 70px 0 25px 0
    &__h2
      font-size: 20px
      margin-bottom: 20px

