@import "src/sass/base/mixins"
.hotel
  &__container
    padding: 71px 0  100px 0
  &__h2

    @include text(800,30px,133%,#10923E)
    text-align: center
    margin: 0 0 72px 0
  &__wrapper
    display: flex
    flex-direction: column
    row-gap: 43px