.loader
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0
  height: 100%
  &__video
    width: 100%


@media (max-width: 1201px)
@media (max-width: 1025px)
@media (max-width: 770px)
  .loader
    display: none
    position: fixed
    height: 100%
    top: 0
@media (max-width: 482px)
@media (max-width: 394px )