@import "src/sass/base/mixins"
.search
  position: relative

  
  &__select
    margin-top: 70px
    width: 297px
    border-bottom: 1px solid green

  &__h2
    



    @include text(500, 17px, 133%, #000000)

