@import "src/sass/base/mixins"
.search
  &__label
    border: 1px solid #99BCE4
    border-radius: 2px
    padding: 15px
    display: flex
    width: 425px
  &__input
    width: 100%
    padding-right: 15px
    @include text(500,17px,133%,#00000050)


