@import "src/sass/base/mixins"
.secondSilver
  &__right
    padding: 25px 35px 18px 25px
    border-radius: 4px
    background: linear-gradient(45deg, rgba(255, 199, 0, 0.20) 0%, rgba(255, 255, 255, 0.20) 35.42%, rgba(255, 255, 255, 0.20) 48.25%, rgba(199, 176, 130, 0.20) 100%), radial-gradient(75.67% 66.60% at 9.69% 11.40%, rgba(0, 0, 0, 0.20) 0%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%), #FFDC79

  &__h2
    @include text(700, 32px, 133%, #000)
    margin-bottom: 3px
    text-transform: uppercase

  &__h3
    @include text(700, 15px, 133%, #000)
    margin-bottom: 10px

  &__li
    @include text(600, 14px, 133%, #000)
    list-style-type: disc

  &__list
    margin: 0 0 48px 15px

  &__p
    @include text(400, 14px, normal, #000)
    text-align: center
    width: 90%
    margin: 11px auto 0 auto

  &__ul
    margin: 0 0 18px 15px