
.ContactsPage__container
@media (max-width: 1120px)
  .ContactsPage__container
    padding: 0 15px
@media (max-width: 1040px)
  .ContactsPage__container
    padding: 0

@media (max-width: 935px)
  .ContactsPage__container
    padding: 0 15px
@media (max-width: 770px)
  .ContactsPage__container
    padding: 0
@media (max-width: 683px)
  .ContactsPage__container
    padding: 0 15px

@media (max-width: 482px)
  .ContactsPage__container
    padding: 0

@media (max-width: 445px)
  .ContactsPage__container
    padding: 0 15px