@import "src/sass/base/mixins"

.requisites
  &__h2
    display: flex
    justify-content: center
  &__wrapper
    display: flex
    justify-content: space-between
  &__box
    margin-top: 55px
  &__h3
    @include text(500,22px,133%,#000)
  &__span
    @include text(600,24px,133%,#3378C9)
  &__h4
    @include text(600,22px,133%,#00862D)
  &__p
    margin-top: 8px
    @include text(400,18px,133%,#000)
  &__check
    margin-top: 13px






