@import "src/sass/base/mixins"
.burger
  display: none
  flex-direction: column
  row-gap: 7px
  align-items: flex-end
  position: relative
  &__line
    width: 24px
    height: 2px
    background: #000000
    &:nth-child(2)
      width: 18px
  &_active
    z-index: 1000
    transition: 2s ease-in
    .burger
      &__line
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        margin: auto
        &:first-child
          transform: rotate(-45deg)
        &:last-child
          transform: rotate(45deg)
        &_short
            display: none


@media (max-width: 1025px)
@media (max-width: 482px)
  .burger
    display: flex

@media (max-width: 393px)
  .burger
   display: flex

