@import "src/sass/base/mixins"
.aboutSection
  background: url("./7854057_1014 1.png") center/cover no-repeat
  &__container
    padding: 65px 0
  &__h2
    @include text(800,30px,120%,#fff)
    margin-bottom: 64px
    text-align: center

  &__p
    @include text(500,22px,133%,#fff)
    width: 1125px
    text-align: center
    margin: 0 auto

