@import "src/sass/base/mixins"
.aboutSection
  background: url("./7854057_1014 1.png")center/cover no-repeat
  padding-bottom: 300px

  &__container
    padding: 65px 0
  &__h2
    @include text(800,30px,120%,#00862D)
    margin-bottom: 64px
    text-align: center

  &__p
    @include text(600,21px,133%,#000000)
    width: 1125px
    text-align: center
    margin: 0 auto
  &__btn
    display: flex
    justify-content: center
    margin-top: 50px

@media (max-width: 1201px)
  .aboutSection
    &__p
      @include text(600,20px,133%,#000000)
      width: 90%


@media (max-width: 770px)
  .aboutSection
    &__p

      @include text(600,18px,133%,#000000)
@media (max-width: 481px)
  .aboutSection
    &__h2
      @include text(700,24px,133%,#00862D)
    &__p
      @include text(500,14px,133%,#000000)

