@import "src/sass/base/mixins"
.profile
  &__wrapper
    display: flex
    margin-bottom: 43px
  &__picture
    width: 150px
    height: 150px
    border-radius: 50%
  &__logo
    margin-right: 69px
  &__h2
    @include text(600,25px,180%,#000000)
  &__h3
    @include text(600,13px,150%,#000000)
    opacity: 0.5
  &__p
    @include text(600,20px,normal,#000000)
    width: 360px
    opacity: 0.699999988079071
    &_first
      margin-bottom: 15px
  &__links
    display: flex
  &__h4
    @include text(500,14px,150%,rgba(0, 0, 0, 0.50))
    margin-right: 7px
  &__link
    @include text(500,14px,150%,#000000)
  &__right
    display: flex
    flex-direction: column
    row-gap: 14px
