@import "src/sass/base/mixins"
.investorCheck
  &__h2
    @include text(600,16px,133%,#000000)
    margin: 30px 0 15px 0
  &__span
    @include text(600,14px,180%,#000000)
  &__red
    color: red

  &__label
    flex-wrap: wrap
    column-gap: 6px
    display: flex



  &__first
    display: flex
    flex-wrap: wrap







