

.supportAdaptive
  display: none


@media (max-width: 770px)
  .supportAdaptive
    display: flex
    &__row
      margin-top: 50px
      display: flex
      flex-wrap: wrap
      justify-content: space-around
      row-gap: 25px