@import "src/sass/base/mixins"


.territory

  margin-top: 38px
  .swiper-button-next ,  .swiper-button-prev
    display: none
  &__box
    position: relative
    top: 40px
    background: #FFF
    width: 90%
    margin: 0 auto
    padding: 18px 35px 80px 25px
    row-gap: 7px
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15)
  &__h2
    margin-bottom: 10px
    @include text(700px, 25px, 133%, #3378C9)
  &__p
    @include text(400px, 17px, 133%, #000000)

  &__nav

    display: flex
    justify-content: flex-end
    position: absolute
    right: 10%
    column-gap: 5px
    top: 175px
    bottom: 5px
    z-index: 5
    &_after
      width: 40px
      height: 40px
      border-radius: 50%
    &_before
      width: 40px
      height: 40px
      border-radius: 50%

  &__square
    width: 90%
    margin: 98px auto
    background: #9FD3B2
    height: 800px
    &_iframe
      text-align: center
      width: 100%
      height: 100%
@media (max-width: 1025px)
  .territory
    margin-top: 20px
    &__box
      height: 220px
      width: 90%
      padding: 18px 35px 60px 25px
    &__square
      width: 90%
      margin: 46px auto
      background: #9FD3B2
      height: 620px

    &_iframe
      text-align: center
      width: 100%
      height: 100%
    &__nav
      top: 211px
@media (max-width: 883px)
  .territory
    &__nav
      top: 218px

@media (max-width: 719px)
  .territory
    &__box
      height: 250px
    &__nav
      top: 232px

@media (max-width: 628px)
  .territory
    &__box
      height: 300px
    &__nav
      top: 285px
@media (max-width: 531px)
  .territory
    &__box
      height: 100%
    &__nav
      top: 205px
    &__h2
      @include text(700px, 15px, 133%, #3378C9)
    &__p
      @include text(400px, 13px, 133%, #000000)
@media (max-width: 430px)
  .territory
    &__nav
      top: 220px

@media (max-width: 394px)
  .territory
    &__wrapper
      position: relative
    &__box
      top: 135px
      width: 95%
      z-index: 2
    &__h2
      @include text(700px, 15px, 133%, #3378C9)

    &__p
      @include text(400px, 13px, 133%, #000000)
    &__img
      top: 0
      position: absolute
    &__nav

      top: 320px
      right: 25px
    &__square
      width: 90%
      position: relative
      top: 130px





