@import "src/sass/base/mixins"


.tradeRegis
  margin-top: 170px
  &__box
    margin: 0 auto
    padding: 26px 125px
    width: 81%
    background: #EFF3FF
  &__h3
    @include text(700,20px,133%,#FFD400)
    display: flex
    justify-content: center
    text-align: center
    margin-bottom: 20px
  &__p
    display: flex
    margin: 0 auto
    text-align: center
    @include text(700,30px,133%,#3C3C3C)
  &__wrapper
    margin-top: 100px
    column-gap: 20px
    display: flex
    justify-content: center
    flex-wrap: wrap
    row-gap: 50px
    padding-bottom: 240px

@media (max-width: 1025px)
  .tradeRegis
    &__p
      @include text(700,21px,133%,#3C3C3C)
@media (max-width: 770px)
  .tradeRegis
    &__box
      padding: 25px 60px
@media (max-width: 547px)
  .tradeRegis
    &__box
      padding: 20px 30px
    &__wrapper
      column-gap: 0

