@import "src/sass/base/mixins"
.tableSection
  background: #F5F5F5
  &__container
     padding: 83px 0
  &__tbody
    display: flex
    flex-direction: column
    row-gap: 3px

  &__tr
    width: 1170px
    background: #FFFFFF
    padding: 16px 30px
    display: flex

    align-items: center
  &__td1
    width: 50vw
  &__td
    display: flex
    align-items: center
    column-gap: 5px
    width: 25vw


@media (max-width: 1025px)
  .tableSection
    &__container
      padding: 67px 0
    &__tr
      width: 921px
@media (max-width: 768px)


@media (max-width: 394px)
  .tableSection
    &__container
      padding: 34px 0
    &__tr
      display: flex
      flex-wrap: wrap
      row-gap: 10px
      justify-content: space-between
      width: 100%
      padding: 10px
    &__td1
      width: 100%
    &__td
      width: 50%

