@import "src/sass/base/mixins"
.members
  &__h2
    text-align: center
    padding: 45px 0
    @include text(700, 50px, 120%, #ffffff)
  &__cards
    display: flex
    flex-wrap: wrap
    column-gap: 63px
  &__wrapper
    display: flex
    justify-content: space-between
    margin-top: 70px
    column-gap: 31px

  &__block-component
    display: flex
    flex-wrap: wrap
    column-gap: 24px
  &__txt
    @include text(500,18px,180%,#00000070)
  &__cards
    display: flex
    flex-direction: column
    row-gap: 11px
  &__h3
    @include text(700,18px,180%,#00862D)
  &__h4
    @include text(500,18px,180%,#00000080)
  &__content
    border-bottom: 1px solid #00000050
    padding-bottom: 5px
    margin-bottom: 31px
    display: flex
    justify-content: space-between
  &__wrapp
    display: flex
    justify-content: space-between
    margin-bottom: 11px
  &__inner
    display: flex
    align-items: center
    column-gap: 40px
  &__flex
    padding-right: 250px
    display: flex
    column-gap: 180px
  &__title
    @include text(600,16px,180%,#000000)
  &__btn
    background: #0033CC
    border-radius: 3px
    width: 142px
    height: 45px
    color: #fff
    transition: 0.3s
    &:hover
      background: #fff
      color: #0057BC
      border: 2px solid #0057BC
  &__btn2
    background: #0033CC
    border-radius: 3px
    width: 142px
    height: 45px
    color: #fff
    transition: 0.3s
    &:hover
      background: #fff
      color: #0057BC
      border: 2px solid #0057BC
  &__txt
    display: flex
    column-gap: 10px


@media (max-width: 1025px)
  .members
    &__wrapper
      flex-direction: column

    &__txt
      margin-bottom: 34px
@media (max-width: 770px)
@media (max-width: 482px)
  .members
    &__block-component
      flex-direction: column
      row-gap: 30px
      margin-bottom: 30px
    &__h2
      font-size: 32px
    &__h3
      display: none
@media (max-width: 394px )
