@import "src/sass/base/mixins"
.members
  position: relative
  padding-top: 12px
  &__h2
    background: url("img.png") center/cover no-repeat
    text-align: center
    padding: 45px 0
    @include text(700, 50px, 120%, #ffffff)