@import "src/sass/base/mixins"


.tradeText
  &__box
    display: flex
    flex-direction: column
  &__h2

    @include text(800,80px,120%,#00862D)
    white-space: pre-line
  &__p
    display: flex
    align-self: flex-end
    width: 78%
    margin-top: 40px
    @include text(500,22px,133%,#000)


@media (max-width: 1201px)
  .tradeText
    &__h2
      font-size: 76px

@media (max-width: 1025px)
  .tradeText
    &__h2
      font-size: 74px

@media (max-width: 770px)
  .tradeText
    &__h2
      font-size: 70px
    &__p
      margin-top: 26px

@media (max-width: 482px)
  .tradeText
    &__h2
      font-size: 54px
    &__p
      font-size: 20px
      margin-top: 24px
@media (max-width: 394px)
  .tradeText
    &__h2
      font-size: 44px
    &__p
      font-size: 18px
      margin-top: 20px


