@import "src/sass/base/mixins"


.B2b
  &__h2
    @include text(600,25px,133%,#00000070)
  &__links
    margin-top: 28px
    column-gap: 60px
    display: flex
  &__link
    @include text(600,16px,180%,#000)
    border-bottom: 2px solid transparent
    transition: 0.5s
    &:hover
      border-bottom: 2px solid blue

    &.active
      border-bottom: 2px solid blue
      color: #03C





  &__box
    display: flex
    margin-top: 35px

