@import "src/sass/base/mixins"


.B2b
  &__h2
    @include text(600,25px,133%,#00000070)
  &__links
    margin-top: 28px
    column-gap: 60px
    display: flex
  &__link
    @include text(600,16px,180%,#000)
    border-bottom: 2px solid transparent
    transition: 0.5s
    &:hover
      border-bottom: 2px solid blue
      @include text(600,16px,180%,#03C)
    &_active
      @include text(600,16px,180%,#03C)
      border-bottom: 2px solid blue

  &__box
    display: flex
    margin-top: 35px

@media (max-width: 1025px)
  .B2b
    &__h2
      font-size: 22px
    &__link
      font-size: 14px
@media (max-width: 770px)
  .B2b
    &__h2
      font-size: 18px
    &__link
      font-size: 13px

