@import "src/sass/base/mixins"
.about
  position: relative
  &__container
    padding: 48px 0
    text-align: center
  &__h2
    @include text(800,46px,36px,#10923E)
    margin-bottom: 12px
  &__h3
    @include text(600,20px,26px,#000)
    margin-bottom: 2px
  &__p

    @include text(400,20px,26.6px,#000)
    width:  75%
    max-width: 975px
    margin: 12px auto 0
  &__svg
    position: absolute
    width: 348px
    height: 348px
    top: 20%
    right: 0



@media (max-width: 1201px)




@media (max-width: 1025px)
  .about
    &__h2
      @include text(800,36px,36px,#10923E)

    &__p
      @include text(400,18px,26.6px,#000)
      width: 90%



@media (max-width: 770px)
  .about
    &__h2
      @include text(800,32px,36px,#10923E)
    &__p
      @include text(400,14px,26.6px,#000)


@media (max-width: 482px)
  .about
    &__h2
      @include text(800,32px,36px,#10923E)

@media (max-width: 394px )
