@import "src/sass/base/mixins"
.nav
  &__container
    display: flex
    column-gap: 40px
    align-items: center
  &__link
    @include text(600,15px,133%,#000000)
    cursor: pointer
  &__line
    position: absolute
    right: -15px
    top: 50%
    transform: translateY(-50%)
  .btn
    padding: 9px 25px






