@import "src/sass/base/mixins"
.vid
  &__container
    padding: 100px 0 0 0
    display: flex
    justify-content: center
    align-items: center
  &__video
    position: relative
    width: 100%
    height: 500px
    iframe
      width: 100%
      height: 100%
@media (max-width: 1201px)

@media (max-width: 1025px)
@media (max-width: 769px)
@media (max-width: 481px)
@media (max-width: 396px)


