@import "src/sass/base/mixins"
.islamic
  &__content
    display: flex
    align-items: center
    padding: 61px 0 38px 0
    column-gap: 21px
    justify-content: center
    border-bottom: 1px solid #00862D
  &__txt
    @include text(700,26px,133%,#000000)
    width: 322px
  &__span
    @include text(700,30px,133%,#00862D)
  &__text
    display: flex
    justify-content: center
    text-align: center
    padding: 29px 0 33px 0
  &__h2
    @include text(500,24px,133%,#000000)
    width: 942px



  &__ib
    @include text(500,30px,133%,#00862D)
  &__am
    @include text(500,30px,133%,#00862D)
@media (max-width: 1201px)
  .islamic
    &__ibic
      img
        width: 300px
    &__txt
      @include text(700,21px,133%,#000000)
    &__span
      @include text(700,25px,133%,#00862D)
    &__id
      @include text(700,25px,133%,#00862D)
    &__h2
      @include text(500,22px,133%,#000000)


@media (max-width: 1025px)
@media (max-width: 769px )
@media (max-width: 481px )
@media (max-width: 394px )


