@import "src/sass/base/mixins"
.organizatorSection
  &__container
    padding: 45px 0 111px 0
  &__h2
    @include text(800,35px,120%, #10923E)
    margin-bottom: 55px
    text-align: center

  &__wrapper
    display: flex
    column-gap: 90px
    justify-content: center
    align-items: baseline
    flex-wrap: wrap
    row-gap: 85px
  &__pic
    img
      width: auto

@media (max-width: 394px )
  .organizatorSection
    &__container
      padding: 30px 0 50px 0
    &__h2
      @include text(800,25px,120%, #10923E)
      margin-bottom: 30px
      text-align: center
    &__wrapper
      column-gap: 0
      row-gap: 35px
      justify-content: space-between
    &__pic
      width: 170px
      img
        width: 150px
        height: auto
