@import "src/sass/base/mixins"
.organizatorSection
  &__container
    padding: 45px 0 70px 0
  &__h2
    @include text(800,35px,120%, #10923E)
    margin-bottom: 55px
    text-align: center
  &__img
    margin: 0 auto
    display: flex
    justify-content: center
    img
      width: 308px
      height: 110px

  &__line
    border: 1px solid #00000030
    margin: 0 auto
    width: 150px

  &__h3
    margin-top: 28px
    display: flex
    justify-content: center
    @include text(800,35px,120%, #10923E)



  &__row
    margin-top: 60px
    display: flex
    align-items: center
    width: 100%
    justify-content: space-around
  &__box
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 300px
    height: 235px
    border: 1px solid rgba(0, 0, 0, 0.1)
    border-radius: 15px
  &__img1
    width: 153px
    height: 153px
  &__span
    margin-top: 30px
    text-align: center
    @include text(500,15px,120%, #000000)
  &__row2
    margin-top: 80px
    display: flex
    flex-direction: column
    row-gap: 50px
  &__picture
    display: flex
    justify-content: space-between
    &:last-child
      justify-content: space-evenly
    img
      width: auto
  .swiper
    width: 100%
    height: 100%

  .swiper-wrapper
    transition-timing-function : linear


@media (max-width: 1201px)
  .organizatorSection
    &__box
      width: 250px
      height: 200px
    &__img
      img
        width: 250px
        height: 70px
@media (max-width: 770px)
  .organizatorSection
    .swiper
      display: none
    &__h3
      @include text(800,30px,120%, #10923E)
    &__box
      border: none
      width: 200px
      height: 150px
    &__img
      img
        width: 200px
        height: 70px
@media (max-width: 482px)
  .organizatorSection
    &__h3, h2
      @include text(800,25px,120%, #10923E)
    &__box
      width: 170px
      height: 150px
    .ameca
      width: 200px
      height: 70px
    &__img
      img
        width: 100px
        height: 70px
    &__span
      @include text(500,13px,120%, #000000)

@media (max-width: 394px)
  .organizatorSection
    &__box

      width: 150px
      height: 140px
    &__img
      img
        width: 90px
        height: 65px
    &__span
      @include text(500,11px,120%, #000000)






@media (max-width: 394px )
  .organizatorSection
    &__container
      padding: 30px 0 50px 0
    &__h2
      @include text(800,25px,120%, #10923E)
      margin-bottom: 30px
      text-align: center
    &__wrapper
      column-gap: 0
      row-gap: 35px
      justify-content: space-between
    &__pic
      width: 170px
      img
        width: 150px
        height: auto
