@import "src/sass/base/mixins"
.expectPage
  &__container
    padding: 71px 0 100px 0
  &__wrapper
    display: flex
    flex-direction: column
    text-align: center
    justify-content: center
    align-items: center
    margin-bottom: 50px

  &__h2
    @include text(800,35px,133%,#10923E)
    margin-bottom: 50px
    text-align: center
  &__p
    @include text(600,22px,133%,#000000)
    width: 666px

@media (max-width: 1201px)


@media (max-width: 1025px)
  .expectPage
    &__container
      padding: 61px 0 100px 0
    &__wrapper
      margin-bottom: 40px
    &__h2
      @include text(800,30px,133%,#10923E)
    &__p
      @include text(500,22px,133%,#000000)

@media (max-width: 769px)
  .expectPage
    &__h2
      @include text(800,25px,133%,#10923E)
      margin-top: 50px
    &__p
      width: 560px
      @include text(500,18px,133%,#000000)

@media (max-width: 481px)
  .expectPage
    &__h2
      margin-bottom: 40px
    &__p
      width: 370px
      @include text(500,18px,133%,#000000)



@media (max-width: 396px)
  .expectPage
    &__container
      padding: 40px 0 50px 0
    &__h2
      @include text(800,20px,133%,#10923E)
    &__p
      @include text(500,18px,133%,#000000)
      margin-bottom: 50px
      width: 350px




//@media (max-width: 1201px)
//@media (max-width: 1025px)
//@media (max-width: 770px)
//@media (max-width: 482px)
//@media (max-width: 394px )
//