@import "src/sass/base/mixins"
.rowQuestion
  &__block
    background: #FFFFFF
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08)
    padding: 26px 29px 0  46px
    border-top: 1px solid #00000010
    border-bottom: 1px solid #00000010
  &__wrapper
    display: flex
    justify-content: space-between
    margin-bottom: 23px
  &__txt
    margin-bottom: 26px
    @include text(400,16px,133%,#000)