@import "src/sass/base/mixins"
.rowQuestion
  &__block

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08)
    padding: 26px 29px 0  46px
    border-top: 5px solid #FFFFFF
    background: linear-gradient(267.78deg, #00862D -3.91%, #0033CC 143.03%)


    border-bottom: 1px solid #00000010
  &__h2
    @include text(700,20px,133%,#FFD400)
    width: 575px



  &__wrapper
    cursor:  pointer
    display: flex
    justify-content: space-between

  &__txt
    height: 0
    transition: 0.2s ease-in-out
    margin-bottom: 26px
    @include text(500,18px,133%,#ffffff)
    opacity: 0
    &_active
      padding-top: 26px
      height: 100%
      display: block
      opacity: 1


@media (max-width: 1025px)
  .rowQuestion
    &__txt
      @include text(500,16px,133%,#000)


@media (max-width: 395px)
  .rowQuestion

    &__h2
      @include text(700,18px,133%,#40A865)

    &__txt
      @include text(500,15px,133%,#000)
    &__svg
      display: flex
      align-items: center





@media (max-width: 1201px)
@media (max-width: 1025px)
@media (max-width: 770px)
  .rowQuestion
    display: flex
    flex-direction: column
    align-items: center
    &__block
      width: 665px
@media (max-width: 482px)
  .rowQuestion
    &__block
      width: 430px
@media (max-width: 394px )
  .rowQuestion
    &__block
      width: 350px






