@import "src/sass/base/mixins"
.rowQuestion
  &__block
    background: #FFFFFF
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08)
    padding: 26px 29px 0  46px
    border-top: 1px solid #00000010
    border-bottom: 1px solid #00000010
  &__p
    @include text(700,20px,133%,#40A865)


  &__wrapper
    cursor:  pointer
    display: flex
    justify-content: space-between

  &__txt
    height: 0

    transition: 0.3s ease-in-out
    margin-bottom: 26px
    @include text(500,18px,133%,#000)
    opacity: 0
    &_active
      padding-top: 26px
      height: 100%

      display: block
      opacity: 1




