@import "src/sass/base/mixins"

.tradeThird
  &__box
    display: flex
    flex-direction: column
    row-gap: 180px
  &__h2
    margin-top: 50px
  .investBannerCard__h2
    margin-top: 80px
    padding-top: 90px
