@import "src/sass/base/mixins"

.tradeThird
  &__box
    display: flex
    flex-direction: column
    row-gap: 180px
  &__h2
    margin-top: 50px
  .investBannerCard__h2
    margin-top: 80px
    padding-top: 90px


@media (max-width: 1201px)
  .tradeThird
    &__box
      row-gap: 150px
@media (max-width: 1025px)
  .tradeThird
    &__box
      row-gap: 80px
@media (max-width: 770px)
  .tradeThird
    &__box
      row-gap: 60px
@media (max-width: 482px)
@media (max-width: 394px)
  .tradeThird
    .investBannerCard__h2
      padding-top: 40px
