@import "src/sass/base/mixins"

.stCard
  margin-top: 62px
  margin-bottom: 100px
  &__container
    display: flex
    flex-wrap: wrap
    justify-content: center
    column-gap: 20px
    row-gap: 20px


  &__box
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.12)
    border-radius: 3px
    width: 572px
  &__row
    padding: 8px 29px 0 11px
    display: flex
    column-gap: 6px
  &__right
    width: 280px
  &__h3

    border-radius: 0 0 15px 0


    width: fit-content
    @include text(800,36px,133%,#40A865)
  &__title
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 28px
    @include text(800,36px,133%,#40A865)
    box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.2), inset -4px -4px 10px rgba(0, 0, 0, 0.1)
    padding: 13px 21px

  &__h4
    @include text(700,28px,133%,#000000)


  &__span
    @include text(700,24px,133%,#10923E)

  &__img
    width: 257px
    height: 273px
  &__ul
    display: flex
    flex-wrap: wrap
    flex-direction: column
    padding-left: 15px
    row-gap: 7px
    margin-bottom: 30px
    &:last-child
      height: 200px





  &__li
    @include text(500,15px,133%,#000000)
    list-style-type: disc

  &__discount
    @include text(400,15px,133%,#000000)
    text-decoration: line-through
  &__percent
    @include text(500,10px,133%,#000000)
    padding: 7px 4px
    position: absolute
    right: -10px
    top: -15px

    background: #FFE606
    border-radius: 50%





  &__price
    position: relative
    display: flex
    width: fit-content
    align-items: center
    column-gap: 5px
    margin-bottom: 40px
    padding: 10px
    @include text(700,18px,133%,#000000)
    background:  #F5F8FF
    &_new
      display: flex
      align-items: center


