@import "src/sass/base/mixins"
.componentZone
  &__wrapper
    display: flex
    column-gap: 10px
    margin-bottom: 10px
  &__left
    display: flex
    align-items: center
    column-gap: 12px
  &__wrapp
    display: flex
    align-items: center
    column-gap: 5px
  &__right
    display: flex
    align-items: center
    column-gap: 5px
  &__h2
    @include text(600,20px,normal,#3378C9)
  &__row
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
  &__p
    width: 70%
    margin-bottom: 46px
  &__box
    display: flex
    align-items: center
    column-gap: 111px
    margin-top: 30px
  &__block
    display: flex
    column-gap: 32px
    background: #ECF1FF
    border-radius: 81px
    padding: 15px 13px
  &__click
    @include text(700,18px,133%,#3378C9)
    background: transparent
  &__content
    display: flex
    align-items: center
    column-gap: 11px
  &__oval
    width: 60px
    height: 60px
    background: #ECF1FF
    border-radius: 34px
    display: flex
    justify-content: center
    align-items: center
