.date
  &__container
    display: flex
    column-gap: 104px
    justify-content: center
    padding-bottom: 95px

@media (max-width: 1025px)
  .date
    &__container
      column-gap: 50px
@media (max-width: 870px)
  .date
    &__container
      column-gap: 30px
@media (max-width: 770px)
  .date
    &__container
      display: flex
      flex-direction: column
      align-items: center
