@import "src/sass/base/mixins"
.dropdown
  position: relative
  &__wrapper
    width: 297px
    background: #FFFFFF
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1)
    position: absolute
    top: 40px
    left: -70px
    padding: 24px 81px 24px 24px
    display: flex
    flex-direction: column
    row-gap: 22px
  &__link
    @include text(500,15px,110%,#000000)
    width: 500px

