@import "src/sass/base/mixins"
.whatsapp
  width: 70px
  height: 70px
  position: fixed
  z-index: 20000
  top: 80%
  right: 20px
  transition: 0.7ms
  &:hover
    scale: 1.2
@media (max-width: 769px)
  .whatsapp
    width: 35px
    height: 35px

