@import "src/sass/base/mixins"
.task-card
  display: flex
  align-items: center
  justify-content: center
  &__numb
    @include text(800,200px,266px,#3378C915)
  &__p
    @include text(400,18px,133%,#000)
    margin-left: -20px
    width: 400px
