@import "src/sass/base/mixins"
.task-card
  display: flex
  align-items: center
  justify-content: center


  &__numb
    z-index: -1
    @include text(800,200px,133%,#000)
    font-family: "Gilroy",sans-serif
    background: linear-gradient(230.61deg, #00862D 21.66%, #0033CC 78.75%), linear-gradient(230.61deg, #00862D 9.96%, #0033CC 102.75%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    margin-right: -33px
    width: 110px
    display: flex
    justify-content: center
    position: relative








  &__p
    @include text(400,18px,133%,#000)

    width: 400px
    background: rgba(255, 255, 255, 0.4)
    border: 1px solid rgba(0, 0, 0, 0.12)
    backdrop-filter: blur(7.5px)
    align-items: center
    border-radius: 14px
    padding: 15px 18px 16px 26px


@media (max-width: 1025px)
  .task-card
    &__numb
      @include text(800,150px,133%,#000)
    &__p
      @include text(400,14px,133%,#000)
      width: 34vw
@media (max-width: 770px)
  .task-card
    &__numb
      @include text(800,120px,133%,#000)
    &__p
      @include text(400,12px,133%,#000)
      width: 33vw
      padding: 10px 13px 11px 20px
@media (max-width: 568px)
  .task-card
    &__p
      @include text(400,15px,133%,#000)
      width: 100%
@media (max-width: 482px)
  .task-card
    &__p
      @include text(400,12px,133%,#000)
