@import "src/sass/base/mixins"
.rowSection
  background: linear-gradient(270deg, #F2F6FF -4.32%, #F1FFF6 108.1%)
  &__container
    padding: 10px 0
    display: flex
    align-items: center
    justify-content: space-between
  &__h2
    @include text(400,14px,133%,#000000)
  &__wrapper
    display: flex
    column-gap: 41px
  &__in, &__reg
    @include text(500,13px,133%,#000000)
    background: transparent
    cursor: pointer
  &__change
    display: flex
    column-gap: 10px
  &__lang
    @include text(400,14px,133%,#000000)
    background: transparent
    cursor: pointer


@media (max-width: 393px)
.rowSection
  display: none



