@import "src/sass/base/mixins"
.rowSection
  background: linear-gradient(270deg, #F2F6FF -4.32%, #F1FFF6 108.1%)
  &__container
    padding: 10px 0
    display: flex
    align-items: center
    justify-content: space-between
  &__h2
    @include text(400,16px,133%,#000000)
  &__wrapper
    display: flex
    column-gap: 41px
  &__in, &__reg
    @include text(500,13px,133%,#000000)
    background: transparent
    cursor: pointer
    width: 60px
  &__logout
    @include text(500,13px,133%,#000000)
    background: transparent
    cursor: pointer
    width: 60px

  &__reg
    color: #000

  &__change
    display: flex
    column-gap: 10px
  &__lang
    @include text(400,14px,133%,#000000)
    background: transparent
    cursor: pointer

    &_active
     color: #0057BC
     border-bottom: 2px solid #0057BC

  &__user
    display: flex
    column-gap: 20px
  &__box
    display: flex
    align-items: center
    column-gap: 5px
  &__profile
    display: flex
    column-gap: 12px
    align-items: center
  &__account
    display: flex
    column-gap: 5px
    align-items: center
  &__h5
    @include text(500,14px,133%,#000000)


@media (max-width: 1201px)
  .rowSection
    &__h2
      @include text(400,15px,133%,#000000)




@media (max-width: 1025px)
@media (max-width: 770px)
  .rowSection
    display: none
    &__h2
      @include text(400,12px,133%,#000000)
    &__in, &__reg
      @include text(500,12px,133%,#000000)
    &__lang
      @include text(400,13px,133%,#000000)





@media (max-width: 482px)

  .rowSection
    display: none



@media (max-width: 393px)
  .rowSection
    display: none



