@import "src/sass/base/mixins"
.datacompany
  padding: 31px 11px 31px 31px
  border-radius: 4px
  border: 1px solid rgba(0, 0, 0, 0.20)
  margin-top: 33px
  &__wrapper
    display: flex
    flex-direction: column
    row-gap: 25px
    margin-bottom: 20px
  &__row
    display: flex
    column-gap: 50px
    align-items: center

  &__h2
    @include text(600,22px,133%,#000000)
    margin-bottom: 25px
  &__label
    display: flex
    flex-wrap: wrap
    width: 100px
    input
      width: 100%
  &__list
    display: flex
    flex-direction: column
    row-gap: 35px
  &__rigth
    display: flex
    flex-direction: column
    row-gap: 35px
  &__li
    @include text(600,15px,133%,#237EE8)
  &__h3
    @include text(600,15px,133%,#237EE8)
    width: 350px


  &__p
    @include text(400,18px,normal,#666)
    padding: 12px 23px 33px 14px
    border-radius: 8px
    background: #F3F3F3
    margin-top: 10px
    width: 80%
    word-break: break-all
  &__inner
    margin-top: 95px
    display: flex
    justify-content: space-between
  &__box
    bottom: 0
    border-radius: 4px
    background: #2489FF
    display: flex
    column-gap: 5px
    padding: 10px
    margin-top: 95px
    align-self: flex-end
  &__redact
    @include text(600,18px,133%,#ffffff)
  &__span
    @include text(500,15px,133%,rgba(0, 0, 0, 0.60))
    word-break: break-all
    width: 150px


@media (max-width: 1201px)
  .datacompany
    &__h2
      font-size: 17px
    &__h3
      font-size: 11px
    &__span
      font-size: 11px
    &__p
      font-size: 14px
