@import "src/sass/base/mixins"
.card
  position: relative
  padding: 75px 0
  &__container
    display: flex
    column-gap: 85px
  &__img
    border-radius: 0 50px
    background: #DFDFDF
    width: 522px
    height: 470px
  &__block
    width: 105px
    height: 51px
    background: #FFFFFF
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1)
    border-radius: 2px
    display: flex
    justify-content: center
    align-items: center
    @include text(400px, 16px, 180%, #40A865)
    margin-right: 12px
  &__wrapper
    display: flex
    align-items: center
    margin-bottom: 29px










