@import "src/sass/base/mixins"
.card
  position: relative
  padding: 75px 0

  &__container
    padding: 30px 22px

    background: #FFFFFF
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1)
  &__lists
    display: flex
    column-gap: 85px




  &__block
    width: 127px
    height: 26px
    background: #FFFFFF
    border-radius: 2px
    display: flex
    justify-content: center
    align-items: center
    @include text(600, 22px, 180%, #40A865)


  &__wrapper
    display: flex
    align-items: center
    margin-bottom: 36px
    justify-content: space-between
    width: 100%
    border-bottom: 1px solid #D9D9D9
    padding-bottom: 18px
  &__h2
    @include text(700, 40px,120%,#000000 )

    margin-bottom: 31px

  &__p
    text-align: right

  &__text
    width: 50%
    display: flex
    justify-content: center
    align-items: flex-start
    flex-direction: column














