@import "src/sass/base/mixins"

.newsLeft
  width: 60%
  &__date
    @include text(500,18px,120%,#000)
    opacity: 0.699999988079071
    margin-bottom: 11px
  &__title
    @include text(700,25px,130%,#000)
    margin-bottom: 20px
  &__pic
    margin-bottom: 25px
    height: 483px
    background: black
  &__text
    @include text(400,18px,133%,#000)