@import "src/sass/base/mixins"
.forum
  position: relative
  background: url("img.png") center/cover no-repeat
  &__h2

    padding: 45px 0
    text-align: center
    @include text(700px, 50px, 70px, #00862D)
@media (max-width: 1201px)
  .forum
    &__h2
      padding: 37px 0
@media (max-width: 1025px)
  .forum
    &__h2
      padding: 31.5px 0
@media (max-width: 769px)
  .forum
    &__h2
      padding: 20.5px 0
      @include text(700,48px,133%,#ffffff)
@media (max-width: 481px)
  .forum
    &__h2
      @include text(700,36px,133%,#ffffff)
@media (max-width: 396px)
  .forum
    &__h2
      padding: 16.5px 0
      @include text(700,24px,133%,#ffffff)






