@import "src/sass/base/mixins"
.forum
  position: relative
  &__h2
    background: url("img.png") center/cover no-repeat
    padding: 45px 0
    text-align: center
    @include text(700px, 50px, 70px, #fff)




