@import "src/sass/base/mixins"
.newsPage
  &__content
    background: url("./png.png")
    padding: 45px 0
  &__title
    text-align: center
    @include text(700,50px,120%,#fff)
  &__container
    padding: 44px 0 100px 0
    display: flex
    column-gap: 75px
    flex-wrap: wrap
    row-gap: 80px
