@import "src/sass/base/mixins"

.tradeZoneCard
  &__box
    border: 1px solid rgba(255, 255, 255, 0.12)
    backdrop-filter: blur(10px)
    border-radius: 5px
    width: 575px
    height: 423px
    display: flex
    background: #00000025
    flex-direction: column
  &__row
    padding: 20px
    display: flex
    justify-content: space-between
  &__flex
    display: flex
    justify-content: space-between
    padding: 0 20px
  &__h2
    @include text(700,28px,133%,#FFF)
  &__span
    display: flex
    justify-content: right
    @include text(800,28px,133%,#FFF)
  &__img
    width: 250px
    height: 250px
  &__h3
    @include text(700,18px,133%,#FFF)
    padding: 10px 15px
    text-align: center
    background: #2DC25F
    margin: 0 auto
    width: fit-content


  &__ul
    padding: 14px 22px
    border: 1px solid #FFFFFF12

  &__li
    list-style: disc
    @include text(500,15px,133%,#FFF)

@media (max-width: 1201px)
  .tradeZoneCard
    &__box
      width: 540px
      height: 423px
@media (max-width: 1099px)
  .tradeZoneCard
    &__box
      width: 450px
      height: 400px
@media (max-width: 450px)
  .tradeZoneCard
    &__box
      width: 400px

@media (max-width: 400px)
  .tradeZoneCard
    &__box
      width: 370px