@import "src/sass/base/mixins"
.sector-card
  display: flex
  width: 100%
  align-items: center
  justify-content: space-between
  padding: 48px 65px
  &__img
    width: 456px
    height: 285px
  &__icon
    width: 64px
    height: 64px
  &__txt
    width: 400px
    display: flex
    flex-direction: column
    row-gap: 21px
  &__h3
    @include text(700,20px,26px,#000)
    margin-bottom: 2px
  &__p
    @include text(400,16px,21px,#000)
  &__svg
    position: absolute
    width: 348px
    height: 348px
    top: 20%
    right: 0