@import "src/sass/base/mixins"
.membersCard
  border-bottom: 1px solid #00000050
  padding-bottom: 11px
  width: 100%
  &__container
    display: flex
    align-items: center
    justify-content: flex-start
    width: 1170px
  &__first
    display: flex
    align-items: center
    column-gap: 50px
  &__second
    display: flex
    align-items: center
  &__img
    width: 50px
    height: 50px
    img
      width: 100%
      height: 100%

  &__h2
    width: 473px
    margin-right: 14px
    @include text(500,14px,180%,#000000)
  &__h3
    width: 242px
    @include text(500,14px,180%,#000000)
  &__h4
    width: 300px
    @include text(500,14px,180%,#000000)
  &__close
    display: none
@media (min-width: 320px)
  .membersCard
    &__content
     display: none
    &__close
     display: block
    &__wrapper
     display: flex
     justify-content: space-between
     width: 100%

@media (min-width: 481px)
@media (min-width: 769px)
  .membersCard
    .membersCard
     &__content
      display: flex
     &__wrapper
       justify-content: flex-start
     &__close
      display: none
@media (min-width: 1025px)

@media (min-width: 1201px)
