@import "src/sass/base/mixins"
.type
  overflow: hidden
  &__p
    @include text(500,15px,20px,#000)
    padding: 0 135px
  &__container
    display: flex
  &__left,&__right
    position: relative
    width: 50%
  &__right
    padding-top: 100px
  &__cards
    display: flex
    padding: 60px 135px 0 135px
    align-items: center
    justify-content: flex-start
    flex-wrap: wrap
    width: 748px
    column-gap: 80px
    row-gap: 80px
  &__h3
    @include text(500,14px,16px,#000)
    margin-top: 20px
    text-align: center
  &__card
    width: 100px

  &__row
    position: relative
    z-index: 1
    display: flex
    align-items: center
    margin-top: 55px
  &__h4
    @include text(700,28px,37px,#0057BC)

  &__h5
    @include text(800,50px,66px,#fff)

  &__line
    background: #70BE8B
    height: 2px
    margin-left: 2vw
    margin-right: 2vw
    &_middle
      width: 11.111vw
    &_long
      width: 9.028vw
    &_short
      width: 6.250vw
      margin-left: 2vw
      margin-right: 2vw
  &__bg
    max-width: 425px
    width: 29.51388888888889vw
    display: none
    position: absolute
    top: 0
    right: 0