@import "src/sass/base/mixins"

.chooseLink
  padding-top: 92px
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  &__img
    width: 90px
    height: 90px
    margin-bottom: 25px
  &__p
    @include text(500,22px,133%,#14181F)
    text-align: center
  &__link
    @include text(500,22px,133%,#2489FF)
    &:hover
      text-decoration: underline

@media (max-width: 1201px)
  .chooseLink
    &__img
      width: 73px
      height: 73px
    &__p
      font-size: 20px
    &__link
      font-size: 20px
@media (max-width: 1025px)
  .chooseLink
    &__img
      width: 62px
      height: 62px
    &__p
      font-size: 18px
    &__link
      font-size: 18px
@media (max-width: 770px)
  .chooseLink
    &__p
      font-size: 16px
    &__link
      font-size: 16px
@media (max-width: 482px)
  .chooseLink
    &__img
      width: 58px
      height: 58px
    &__p
      font-size: 14px
    &__link
      font-size: 14px
@media (max-width: 393px)