@import "src/sass/base/mixins"
.mass
  &__content
    background: url("./img.png")
    padding: 45px 0
  &__title

    text-align: center
    @include text(700,50px,120%,#ffffff)

@media (max-width: 1440px)
@media (max-width: 1201px)
@media (max-width: 1025px)
  .mass
    &__title
      @include text(700,35px,120%,#ffffff)
      text-align: center

@media (max-width: 769px )

@media (max-width: 394px )
  .mass
    @include text(700,24px,120%,#fffff)