@import "src/sass/base/mixins"
.applicationSection
  &__container
    padding: 0 0 100px 0
  &__h2
    @include text(800,30px,133%,#00862D)
    margin-bottom: 15px
  &__txt
    @include text(500,20px,133%,#000000)
    width: 1138px
    margin-bottom: 40px
    border-left: 4px solid #0057BC
    padding-left: 6px


@media (max-width: 1201px)
  .applicationSection
    &__txt
      width: 1092px



@media (max-width: 1025px)
  .applicationSection
    &__h2
      @include text(800,25px,133%,#00862D)
    &__txt
      @include text(500,18px,133%,#000000)
      width: 918px
      margin-bottom: 30px

@media (max-width: 769px )
  .applicationSection
    &__txt
      @include text(500,16,133%,#000000)

      width: 666px


@media (max-width: 394px )
  .applicationSection
    &__h2
      @include text(800,20px,133%,#00862D)
    &__txt
      @include text(500,15px,133%,#000000)
      width: 340px



