@import "src/sass/base/mixins"
.applicationSection
  &__container
    padding: 0 0 100px 0
  &__h2
    @include text(800,30px,133%,#10923E)
    margin-bottom: 15px
  &__txt
    @include text(500,20px,133%,#000000)
    width: 1138px
    margin-bottom: 36px
    border-left: 4px solid #0057BC
    padding-left: 6px


