@import "src/sass/base/mixins"

.location
  width: 564px
  padding: 13px 20px
  border: 2px solid #b7b6b6
  border-radius: 4px
  &__h3
    @include text(800,20px,133%,#40A865)
    margin-bottom: 1px
  &__h2
    @include text(800,30px,133%,#3378C9)
    margin-bottom: 11px
  &__p
    @include text(400,20px,133%,#000)
    width: 397px
