@import "src/sass/base/mixins"

.location
  width: 564px
  padding: 13px 20px
  border: 1px solid #b7b6b680
  border-radius: 4px
  &__h3
    @include text(400,20px,133%,#40A865)
    margin-bottom: 1px
  &__h2
    @include text(700,18px,133%,#3378C9)
    margin-bottom: 11px
  &__p
    @include text(400,17px,133%,#000)
    width: 489px



@media (max-width: 1025px)
  .location
    width: 400px
    &__p
      width: 100%

@media (max-width: 900px)
  .location
    width: 100%




@media (max-width: 394px )
  .location
    width: 100%
    &__h3
      @include text(500,20px,133%,#40A865)
      margin-bottom: 8px
    &__h2
      @include text(700,20px,133%,#3378C9)
      margin-bottom: 8px
    &__p
      @include text(500,15px,133%,#000)
      width: 300px
