@import "src/sass/base/mixins"



.zona
  padding-top: 55px
  margin-bottom: 45px
  &:nth-child(even)
    flex-direction: row-reverse

  &__pic
    overflow: hidden

  &__img
    transition: 1s
    height: 100%
    &:hover
      transform: scale(1.2)

  &__wrapper
    background: #FFFFFF
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)
    border-radius: 5px
    padding: 45px 33px
    display: flex
    column-gap: 36px
    justify-content: space-between

  &__h2
    @include text(700,30px,133%,#0033CC)
    margin-bottom: 20px
  &__inner
    display: flex
    column-gap: 47px
    margin-bottom: 33px
  &__show
    display: flex
    border-radius: 34px
    align-items: center
    background: #40A865
    column-gap: 15px
    padding: 10px
  &__svg
    background: #FFFFFF
    width: 40px
    height: 40px
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
  &__h3
    @include text(500,22px,133%,#ffffff)
  &__list
    display: flex
    flex-direction: column


    row-gap: 17px
    margin-left: 20px

  &__li
    display: flex
    column-gap: 10px
    text-align: center
  &__circle
    background: #EEF7FF
    width: 20px
    height: 20px
    border-radius: 50%
    color: #00000060
  &__span
    text-align: start
    @include text(500,19px,133%,#000)


  &__btn
    margin: 52px 0 0 0
    display: flex
    justify-content: center
    align-items: center
    column-gap: 10px
    width: 190px
    border-radius: 4px
    height: 45px
    background: #0033CC
  &__click
    @include text(500,18px,133%,#ffffff)


@media (max-width: 1201px)
  .zona
    &__h3
      @include text(500,19px,133%,#ffffff)
    &__span
      text-align: start
      @include text(500,19px,133%,#000)

@media (max-width: 1125px)
  .zona
    &__container
      padding: 0 30px
    &__wrapper
      padding: 30px 25px
      column-gap: 25px

    &__inner
      column-gap: 25px
    &__pic
      width: 47%


    &__h3
      @include text(500,17px,133%,#ffffff)

@media (max-width: 1025px)
  .zona
    &__container
      padding: 0
    &__svg
      svg
        width: 30px
    &__pic
      width: 42%


    &__list
      row-gap: 15px
    &__span
      @include text(500,15px,133%,#000)
    &__btn
      margin: 28px 0 0 0
      width: 165px
      height: 40px
    &__click
      @include text(500,16px,133%,#ffffff)

@media (max-width: 960px)
  .zona
    &__container
      padding: 0 15px

@media (max-width: 860px)
  .zona
    &__pic
      width: 47%
    &__inner
      column-gap: 15px
      margin-bottom: 20px
    &__show
      padding: 5px
      column-gap: 5px
    &__h2
      @include text(700,25px,133%,#0033CC)
      margin-bottom: 10px
    &__h3
      @include text(500,15px,133%,#ffffff)
    &__span
      @include text(500,13px,133%,#000)

@media (max-width: 770px)
  .zona
    padding-top: 35px
    margin-bottom: 0
    &__container
      padding: 0
    &__wrapper
      padding: 20px 15px
      column-gap: 13px
    &__pic
      width: 41%
    &__svg
      width: 30px
      svg
        width: 30px
    &__h2
      @include text(700,22px,133%,#0033CC)
    &__list
      row-gap: 7px

@media (max-width: 482px)