@import "src/sass/base/mixins"



.zona

  overflow: hidden
  border-radius: 45px
  height: 611px
  position: relative
  display: flex
  box-shadow: -6px 4px 22px 0px rgba(34, 60, 80, 0.2)

  &__img
    transition: 1s
    height: 100%
    &:hover
      transform: scale(1.2)



  &__left
    padding: 35px 0 0 30px
    color: #8c7676

  &__h2
    @include text(700,38px,133%,#087AFF)
  &__span
    padding: 8px
    border-radius: 45%
    background: #FFFFFF
  &__h3
    @include text(500,22px,133%,#FFF)
  &__flex
    display: flex
    column-gap: 10px
    align-items: center
    background: #40A865
    border-radius: 34px
    padding: 8px
    width: fit-content


  &__row
    margin-top: 22px
    display: flex
    flex-direction: column
    row-gap: 10px
  &__ul
    padding-left: 30px
    margin-top: 30px
    display: flex
    flex-direction: column
    row-gap: 7px
  &__li
    list-style: disc
    @include text(500,20px,133%,#000)
  &__btn
    column-gap: 10px
    align-items: center
    padding: 10px
    display: flex
    margin-top: 27px
    background: #087AFF
    border-radius: 32px
    @include text(500,20px,133%,#FFF)
  &__right
    position: relative
    width: 60%
    z-index: -1
  &__overlay
    top: -20px
    left: 27px
    position: absolute
    width: 1340px
    height: 611px
    z-index: -1
  &__img
    img
      width: 922px
      height: 600px

    svg
      width: 24px

@media (max-width: 1201px)
  .zona
    height: fit-content
    padding: 0 0 20px 0
    display: flex
    justify-content: space-between
    &__h2
      @include text(700,33px,133%,#087AFF)
    &__row
      margin-top: 15px
    &__flex
      padding: 4px
    &__h3
      @include text(500,17px,133%,#FFF)
    &__li
      @include text(500,15px,133%,#000)
    &__overlay
      width: 1130px
      top: -38px
      left: 43px
    &__img
      img
        width: 722px
        height: 449px



@media (max-width: 1025px)
  .zona

    &__h2
      @include text(700,30px,133%,#087AFF)
    &__row
      margin-top: 15px
    &__flex
      padding: 4px
    &__h3
      @include text(500,14px,133%,#FFF)
    &__li
      @include text(500,14px,133%,#000)
    &__right
      left: -45px
    &__overlay
      top: -3px
      left: -34px
      width: 1034px

    &__img
      img
        width: 678px

//@media (max-width: 925px)
//  .zona
//
//    &__h2
//      @include text(700,25px,133%,#087AFF)
//      width: 270px
//    &__left
//      padding: 13px 0 0 19px
//    &__row
//      margin-top: 5px
//    &__span
//      padding: 4px
//    &__flex
//      padding: 4px
//    &__h3
//      @include text(500,13px,133%,#FFF)
//    &__ul
//      margin-top: 10px
//      padding-left: 15px
//    &__li
//      @include text(500,12px,133%,#000)
//    &__overlay
//      top: -164px
//      left: -211px
//    &__right
//      left: -72px
//
//    &__img
//      img
//        width: 678px




@media (max-width: 770px)
  .zona


    &__h2
      width: 200px
      @include text(700,21px,133%,#087AFF)

    &__row
      margin-top: 10px
      row-gap: 5px
    &__span
      padding: 2px 4px
      img
        width: 12px
    &__flex
      padding: 4px

    &__h3
      @include text(500,11px,133%,#FFF)
    &__li
      @include text(500,12px,133%,#000)
    &__overlay
      top: -12px
      width: 776px
      left: -34px


    &__img
      img
        width: 478px
        height: 340px
    &__btn
      column-gap: 5px
      align-items: center
      padding: 0 5px
      display: flex
      margin-top: 5px
      background: #087AFF
      border-radius: 32px
      @include text(500,10px,133%,#FFF)
      svg
        width: 15px


@media (max-width: 555px)
  .zona
    flex-direction: column-reverse


    &__h2
      width: 100%
      @include text(700,21px,133%,#087AFF)

    &__row
      margin-top: 10px
      row-gap: 5px
    &__span
      padding: 4px 8px
      img
        width: 14px
    &__flex
      padding: 4px 8px

    &__h3
      @include text(500,12px,133%,#FFF)
    &__ul
      padding-left: 15px
    &__li
      @include text(500,12px,133%,#000)
    &__left
      padding: 0 15px 0 15px
    &__right
      width: 100%
      left: 40px
    &__overlay
      top: 0
      width: 756px
      left: -195px
    &__row
      display: flex
      flex-direction: row
      column-gap: 15px
      width: 100%


    &__img
      img
        width: 478px
        height: 340px
    &__btn
      column-gap: 5px
      align-items: center
      padding: 0 7px
      display: flex
      margin-top: 15px
      background: #087AFF
      border-radius: 32px
      @include text(500,16px,133%,#FFF)
      svg
        width: 20px


@media (max-width: 394px)
  .zona
    flex-direction: column-reverse


    &__h2
      width: 100%
      @include text(700,21px,133%,#087AFF)

    &__row
      margin-top: 10px
      row-gap: 5px
    &__span
      padding: 4px 8px
      img
        width: 14px
    &__flex
      padding: 4px 8px

    &__h3
      @include text(500,11px,133%,#FFF)
    &__li
      @include text(500,12px,133%,#000)
    &__left
      padding: 0 15px 0 15px
    &__right
      width: 100%
      left: 40px
    &__overlay
      top: 0
      width: 680px
      left: -200px
    &__row
      display: flex
      flex-direction: row
      column-gap: 15px
      width: 100%


    &__img
      img
        width: 478px
        height: 300px
    &__btn
      column-gap: 5px
      align-items: center
      padding: 0 7px
      display: flex
      margin-top: 15px
      background: #087AFF
      border-radius: 32px
      @include text(500,16px,133%,#FFF)
      svg
        width: 20px


