@import "src/sass/base/mixins"

.first
  position: relative
  overflow: hidden
  &__overlay
    position: absolute

    top: 0
    right: 0
    z-index: 99
  &__container
    position: relative
    z-index: 1
    padding: 66px 0 89px 0
  &__player
    position: absolute
    width: 1050px
    height: 570px
    top: 0
    right: -284px
    object-fit: cover
    z-index: 10
  &__player2
    display: none
  &__block-player
    display: flex
    justify-content: flex-end
    position: relative
  &__txt
    position: relative
    z-index: 100
    padding: 30px 135px 0
  &__box
    width: 340px
  .words2
    width: 100%

    display: flex
    justify-content: flex-end
  &__h3
    font-family: Gilroy,sans-serif
    line-height: 133%
    font-weight: 800
    font-size: 41px
    background: linear-gradient(#31B07D, #3378C9)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    width: fit-content
    text-shadow: 0px 57.814815521240234px 94.32942962646484px 0px rgba(0, 0, 0, 0.30)






  &__bg
    position: absolute
    top: -40px
    right: 0
    z-index: 99
    width: auto
    height: auto
    margin: auto
  &__circle-small
    position: absolute
    top: 22px
    right: 50%
    overflow: hidden
    border-radius: 50%
    animation-name: circle
    animation-duration: 7000ms
    animation-iteration-count: infinite
    animation-timing-function: linear
    @keyframes circle
      from
         transform: rotate(0deg)
      to
        transform: rotate(360deg)


  &__circle-big
    position: absolute
    top: 0
    right: 0
    width: 699px
    height: 699px




  &__h2
    margin-top: 36px
    @include text(700,66px,110%, #00862D)
    margin-bottom: 11px
    span
      color: #0033CC
  &__p
    @include text(400,18px,133%,#000)
    margin-bottom: 47px
    max-width: 609px
  &__component
    display: flex
    justify-content: center
    column-gap: 84px

@media (max-width: 1201px)
  .first
    &__player
      width: 970px
    &__overlay
      right: -70px
    &__txt
      padding: 32px 50px 0
    &__h2
      @include text(700,60px,110%, #00862D)
    &__p
      font-size: 16px
      max-width: 488px
    &__box
      width: 310px


    &__h3
      font-size: 38px

@media (max-width: 1025px)
  .first
    &__txt
      padding: 42px 50px 0

    &__player
      width: 900px
    &__overlay
      right: -170px
    &__circle-small
      right: 41%

    &__h2
      @include text(700,50px,110%, #00862D)
    &__box
      width: 270px
    &__h3
      font-size: 33px
    &__p
      @include text(400,15px,133%,#000)
      max-width: 400px

@media (max-width: 830px)
  .first


@media (max-width: 770px)
  .first
    &__overlay
      right: -278px
      top: -56px
    &__player
      display: none
    &__player2
      display: flex
      position: absolute
      width: 387px
      height: 474px
    &__txt
      padding: 30px 30px
    &__circle-small
      width: 100px


    &__h2
      @include text(700,40px,110%, #00862D)
    &__box
      width: 212px
    &__h3
      font-size: 26px
    &__p
      @include text(400,12px,133%,#000)
      max-width: 380px

@media (max-width: 700px)
  .first

@media (max-width: 482px)
  .first
    &__box
      width: 165px
    &__h3

      font-size: 23px


    &__h2
      width: 280px

    &__circle-small
      width: 65px
      right: 48%
    &__player2
      display: flex
      position: absolute
      width: 295px
      height: 389px

@media (max-width: 394px)
  .first
    &__txt
      padding: 15px
    &__circle-small
      top: 5px
      display: flex
    &__player2
      display: flex
      position: absolute
      width: 282px
      height: 355px
    &__box
      margin-top: 50px
    &__h3

      font-size: 20px



