@import "src/sass/base/mixins"

.first
  position: relative
  overflow: hidden
  &__container
    position: relative
    z-index: 1
    padding: 182px 0

  &__bg
    position: absolute
    top: -40px
    right: 0
    width: auto
    height: auto
    margin: auto
  &__circle-small
    position: absolute
    top: 30px
    left: 50%
    overflow: hidden
    border-radius: 50%
    animation-name: circle
    animation-duration: 7000ms
    animation-iteration-count: infinite
    animation-timing-function: linear
    @keyframes circle
      from
         transform: rotate(0deg)
      to
        transform: rotate(360deg)


  &__circle-big
    position: absolute
    top: 0
    right: 0
    width: 699px
    height: 699px

  &__h3
    background: linear-gradient(270deg, rgba(0, 134, 45, 0.2) -41.85%, rgba(0, 51, 204, 0.2) 134.44%)
    backdrop-filter: blur(1.5px)
    border-radius: 40px 0
    width: 378px
    padding: 24px 29.5px
    margin-bottom: 27px
    @include text(800,20px,133%,#565656)
  &__h2
    @include text(700,66px,110%, #00862D)
    margin-bottom: 11px
    span
      color: #0033CC
  &__p
    @include text(400,18px,133%,#000)
    margin-bottom: 47px
    max-width: 609px