@import "src/sass/base/mixins"
.organizatorSection
  &__container
    padding: 45px 0 111px 0
  &__h2
    @include text(800,35px,120%, #10923E)
    margin-bottom: 55px
    text-align: center

  &__wrapper
   display: flex
   column-gap: 99px
  &__pic
    width: 200px
    height: 80px
