@import "src/sass/base/mixins"



.tradeRegisCard
  position: relative
  //&:nth-child(3n+2)
  //  &::after
  //    position: absolute
  //    content: ""
  //    width: 100px
  //    height: 1px
  //    background: #FFFFFF
  //
  //    top: 34%
  //    right: -55px
  //  &::before
  //    bottom: 66%
  //    left: -55px
  //    position: absolute
  //    content: ""
  //    width: 100px
  //    height: 1px
  //    background: #FFFFFF


  &__tooltip
    position: relative
    width: 310px
    display: flex
    cursor: pointer
    flex-direction: column
    &:hover .tradeRegisCard__p
      margin-top: -229px
      visibility: visible
      opacity: 1
  &__img
    display: flex
    margin: 0 auto

    width: 160px
    height: 160px
  &__h3
    text-align: center
    @include text(600,30px,133%,#FFF)
  &__p
    position: absolute
    text-align: center
    @include text(500,13px,133%,#FFF)
    padding: 30px 20px
    width: 302px
    height: 228px
    background: #00000050
    backdrop-filter: blur(10px)
    border-radius: 5px
    left: 50%
    top: 0
    transform: translateX(-50%)
    visibility: hidden
    opacity: 0
    transition: opacity 0.5s ease

    &::before
      content: ""
      position: absolute
      left: 50%
      top: 100%
      border: 15px solid
      backdrop-filter: blur(10px)
      transform: translateX(-50%)

      border-color: #00000050 #0000 #0000 #0000

@media (max-width: 1025px)
  .tradeRegisCard
    &__tooltip
      width: 260px
@media (max-width: 547px)
  .tradeRegisCard
    &__tooltip
      width: 240px