@import "src/sass/base/mixins"
.dataBoss
  padding: 31px 11px 31px 31px
  border-radius: 4px
  border: 1px solid rgba(0, 0, 0, 0.20)

  &__wrapper
    display: flex
    justify-content: space-between
  &__h2
    @include text(600,22px,133%,#000000)
    margin-bottom: 37px
  &__h4
    @include text(500,15px,133%,#237EE8)
    margin-bottom: 10px
  &__h3
    @include text(500,20px,133%,#000000)
    opacity: 0.699999988079071
  &__block
    margin-bottom: 29px
  &__span
    @include text(400,18px,133%,rgba(0, 0, 0, 0.60))
    text-decoration: underline
  &__svg
    width: 20px
    height: 20px



@media (max-width: 1201px)
  .dataBoss
    &__h2
      font-size: 17px
    &__h3
      font-size: 15px
    &__span
      font-size: 13px
    &__h4
      font-size: 11px


@media (max-width: 1025px)
  .dataBoss
    &__h2
      font-size: 14px
    &__h3
      font-size: 12px
    &__span
      font-size: 9px
    &__h4
      font-size: 11px


@media (max-width: 770px)
  .dataBoss
    &__h2
      font-size: 9px
    &__h3
      font-size: 6px
    &__span
      font-size: 6px
    &__h4
      font-size: 11px