@import "src/sass/base/mixins"
.trade-first
  &__container
    display: flex
    justify-content: space-between
    align-items: center

  &__h2
    padding: 50px 0
    @include text(800,45px,133%,#000)
    text-align: center

  &__img
    width: 520px
    height: 520px
  &__txt
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    row-gap: 32px
  &__h3
    @include text(800,30px,133%,#03C)
  &__ul
    padding: 45px 40px
    background: #D0DCFE50
    border-radius: 15px
    border: 1px solid #D0DCFE
    display: flex
    flex-direction: column
    max-width: 423px
    row-gap: 40px

  &__li
    display: flex
    align-items: center
    column-gap: 20px
    @include text(600,22px,133%,#2E2E2E)
    &::before
      content: url("./Check_Double.svg")
      position: relative
  &__badges
    display: flex
    justify-content: center
    align-items: center
    margin-top: 100px

  &__badge
    width: 220px
    height: 227px
    display: flex
    justify-content: flex-start
    align-items: center
    flex-direction: column
    text-align: center
  &__badge-img
    width: 130px
    height: 130px
    margin-bottom: 16px
  &__h4
    @include text(600,20px,133%,#03C)
    text-transform: uppercase

@media (max-width: 1201px)
  .trade-first
    &__h2
      font-size: 45px
    &__badge-img
      width: 120px
      height: 120px
    &__h4
      font-size: 18px
@media (max-width: 1025px)
  .trade-first
    &__img
      width: 468px
      height: 468px
    &__h3
      font-size: 30px
    &__ul
      max-width: 397px
      row-gap: 32px
      padding: 32px 28px 40px 28px
    &__li
      font-size: 18px
    &__badge-img
      margin-bottom: 8px
    &__h4
      font-size: 14px


@media (max-width: 770px)
  .trade-first
    &__container
      display: flex
      flex-direction: column
      row-gap: 50px
    &__badges
      display: flex
      flex-wrap: wrap
    &__badge-img
      width: 175px
      height: 160px
    &__h4
      font-size: 18px




@media (max-width: 482px)
  .trade-first
    &__img
      width: 384px
      height: 384px
    &__badges
      display: flex
      justify-content: space-around
    &__badge
      width: 175px
@media (max-width: 394px)
  .trade-first
    &__h2
      font-size: 43px
    &__img
      width: 369px
      height: 369px
    &__h3
      font-size: 26px
    &__ul
      max-width: 350px
      row-gap: 34px
    &__badge
      width: 160px
    &__badge-img
      width: 160px
      height: 160px



