@import "src/sass/base/mixins"
.edgeSection
  &__container
    padding: 65px 0
  &__box
    display: flex
    column-gap: 31px
  &__image
    width: 123px
    height: 132px
    background: #00000020
  &__h4
    @include text(700,24px,133%,#40A865)
  &__p
    width: 351px
  &__h3
    margin-bottom: 64px
    @include text(800,35px,120%,#40A865)
  &__wrapper
    display: flex
    column-gap: 160px
    flex-wrap: wrap
    row-gap: 64px
  &__pic
    width: 102px
    height: 102px
    border: 1px solid #000000
    border-radius: 5px


