@import "src/sass/base/mixins"


.tradeStand
  margin-top: 170px
  &__h2
    margin-bottom: 37px
    display: flex
    justify-content: center
    @include text(800,35px,133%,#FFFFFF)

  &__p
    margin-bottom: 60px
    display: flex
    justify-content: center
    text-align: center
    @include text(500,25px,133%,#FFFFFF)
  &__wrapper
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    row-gap: 60px

@media (max-width: 1201px)
  .tradeStand
    &__p
      @include text(500,24px,133%,#FFFFFF)
@media (max-width: 1025px)
  .tradeStand
    &__p
      @include text(500,20px,133%,#FFFFFF)

@media (max-width: 770px)
  .tradeStand
    &__h2
      @include text(800,26px,133%,#FFFFFF)
    &__p
      @include text(500,16px,133%,#FFFFFF)