@import "src/sass/base/mixins"
.plusSection
  &__container
    padding: 0 0 100px 0
  &__h2
    @include text(800,35px,120%,#00862D)
    margin-bottom: 50px
    text-align: center
  &__p
    @include text(400,13px,133%,#000000)
    width: 302px
    margin-top: 5px
  &__wrapper
    display: flex
    justify-content: center
    column-gap: 185px
    flex-wrap: wrap
    row-gap: 25px
  &__box
    display: flex
    column-gap: 22px
  &__pic
    width: 78px
    height: 71px
    background: #D9D9D9
    border-radius: 5px
  &__h3
    @include text(700,18px,133%,#40A865)

@media (max-width: 1201px)
  .plusSection
    &__p
      @include text(400,13px,133%,#000000)
      width: 400px
      height: 68px

    &__wrapper
      column-gap: 95px
      display: flex
      flex-wrap: wrap
      row-gap: 43px
    &__box
      display: flex

@media (max-width: 1025px)
  .plusSection
    &__h2
      @include text(800,30px,120%,#00862D)
      margin-bottom: 40px
    &__h3
      @include text(700,18px,133%,#40A865)
    &__p
      @include text(400,15px,133%,#000000)
      width: 821px
    &__wrapper
      row-gap: 30px
    &__box
      column-gap: 30px

@media (max-width: 769px )
  .plusSection
    &__h2
      @include text(800,25px,120%,#00862D)
    &__h3
      @include text(700,16px,133%,#40A865)
    &__p
      width: 590px
    &__box
      column-gap: 16px
    &__pic
      width: 60px
      height: 60px

@media (max-width: 394px )
  .plusSection
    &__h2
      @include text(800,22px,133%,#00862D)
      margin-bottom: 28px
    &__h3
      @include text(700,16px,133%,#40A865)

    &__p
      @include text(400,15px,133%,#000000)
      width: 300px

      margin-bottom: 3px
    &__pic
      width: 42px
      height: 42px
    &__box
      column-gap: 8px
    &__wrapper
      row-gap: 100px