@import "src/sass/base/mixins"
.dear
  &__h2
    text-align: center
    @include text(600,32px,133%,#00862D)
    padding-bottom: 27px
  &__txt
    text-align: center
  &__text
    @include text(500,26px,133%,#000)
    margin-bottom: 26px

  &__p
    @include text(500,26px,133%,#000)
    margin-bottom: 50px
  &__h3
    @include text(400,24px,133%,#000)
    text-align: center
    padding-bottom: 50px
  &__card
    display: flex
    justify-content: space-around
    padding-bottom: 17px


  .block2
    border-left: 1px solid
    border-right: 1px solid

  &__block
    padding: 9px 9px
    width: 25%
    text-align: -webkit-center


  &__img
    align-items: center
    width: 42px
    height: 42px
    margin-bottom: 10px

  &__span
    @include text(500,22px,133%,#00862D)
    width: 267px
  &__right
    display: flex
    padding: 10px 10px
    align-items: center
    justify-content: center
    margin-bottom: 87px
  &__hotel
    @include text(400,20px,133%,#000)
@media (max-width: 1201px)
  .dear
    &__h2
      @include text(600,30px,133%,#00862D)
    &__text
      @include text(500,24px,133%,#000)
    &__p
      @include text(500,24px,133%,#000)



@media (max-width: 1025px)
  .dear
    &__h2
      @include text(600,28px,133%,#00862D)
    &__text
      @include text(500,22px,133%,#000)
    &__p
      @include text(500,22px,133%,#000)
    &__h3
      @include text(400,22px,133%,#000)
    &__span
      @include text(500,20px,133%,#00862D)
    &__hotel
      @include text(400,18px,133%,#000)
    &__svg
      width: 30px
      height: 30px
@media (max-width: 769px)
  .dear
    &__h2
      @include text(600,24px,133%,#00862D)
    &__text
      @include text(500,20px,133%,#000)
    &__p
      @include text(500,20px,133%,#000)
    &__h3
      @include text(400,16px,133%,#000)
    &__img
      width: 28px
      height: 28px
    &__span
      @include text(500,15px,133%,#00862D)
    &__svg
      width: 21px
      height: 21px
    &__hotel
      @include text(400,13px,133%,#000)
@media (max-width: 481px)
  .dear
    &__h2
      @include text(600,22px,133%,#00862D)
    &__text
      @include text(500,18px,133%,#000)
    &__p
      @include text(500,18px,133%,#000)
    &__h3
      @include text(400,16px,133%,#000)
      max-width: 360px
      margin: 0 auto
    &__card
      display: flex
      flex-wrap: wrap
    &__block
       width: 80%
    .block3
      border-bottom: 1px solid #2489FF


    .block2
      border-bottom: 1px solid #2489FF



      border-left: 0
      border-right: 0

    &__img
      width: 35px
      height: 35px
      margin-top: 20px
    &__span
      @include text(500,18px,133%,#00862D)
      padding-bottom: 70px
      text-align: center
    &__hotel
      @include text(400,13px,133%,#000)
      margin-left: 10px
    &__right
      width: 408px
      align-items: stretch

@media (max-width: 369px)
  .dear
    &__h2
      @include text(600,20px,133%,#00862D)
    &__text
      @include text(500,16px,133%,#000)
    &__p
      @include text(500,16px,133%,#000)
