@import "src/sass/base/mixins"
.dear
  &__h2
    text-align: center
    @include text(600,32px,133%,#00862D)
    padding-bottom: 27px
  &__txt
    text-align: center
  &__text
    @include text(500,22px,133%,#000)
    margin-bottom: 26px

  &__p
    @include text(500,22px,133%,#000)
    margin-bottom: 50px
  &__h3
    @include text(400,24px,133%,#000)
    text-align: center
    padding-bottom: 50px
  &__card
    display: flex
    justify-content: space-around
    padding-bottom: 17px


  .block2
    border-left: 1px solid
    border-right: 1px solid

  &__block
    padding: 9px 9px
    width: 25%
    text-align: -webkit-center

  &__img
    align-items: center
    width: 42px
    height: 42px
    margin-bottom: 10px

  &__span
    @include text(500,22px,133%,#00862D)
    width: 267px
  &__right
    display: flex
    padding: 10px 10px
    align-items: center
    justify-content: center
    margin-bottom: 87px
  &__hotel
    @include text(400,20px,133%,#000)