@import "src/sass/base/mixins"


.invest
  &__h2
    display: flex
    padding: 71px 0 41px 0
    justify-content: center
    @include text(800, 45px, 133%, #FFF)
  &__img
    display: flex
    position: relative
    &_text
      top: 20%
      padding: 47px 32px
      border-radius: 81px
      background: #A1CB5C
      @include text(800, 30px, 133%, #FFFFFF)
      right: -55px
      position: absolute
      writing-mode: vertical-lr
      transform: rotate(360deg)

  &__stand
    margin-top: 50px
    display: flex
    justify-content: space-around