@import "src/sass/base/mixins"
.meetPage
  &__content
    background: url("./png.png")
    padding: 45px 0
  &__title
    text-align: center
    @include text(700,50px,120%,#fff)
  &__txt
    margin: 46px 0 39px 0
  &__container
    padding-bottom: 102px
  &__btn
    background: #0057BC
    @include text(500,20px,133%,#fff)
    border-radius: 4px
    display: flex
    padding: 14px 42px
    column-gap: 12px
    &:hover
     background: #fff
     color: #0057BC

