@import "src/sass/base/mixins"
.package
  margin-bottom: 100px

  &__box
    width: 572px
    height: 430px
    background: #FFFFFF
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.12)
    border-radius: 3px
    margin-top: 62px

  &__txt
    background: #FFFFFF
    box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.2), inset -4px -4px 10px rgba(0, 0, 0, 0.1)
    border-radius: 0 0 15px 0
    width: 227px
    height: 74px
    @include text(800, 36px, 133%,  #40A865)
    padding-top: 13px
  &__pic
    width: 257px
    height: 273px

  &__wrapper
    display: flex
    column-gap: 36px

  &__h2
    @include text(700, 28px, 133%, #000000)
  &__h3
    @include text(700, 24px, 133%, #10923E)
  &__block
    display: flex
  &__item
    @include text(500,15px,133%,#000000)
    list-style-type: disc
  &__list
    display: flex
    flex-direction: column
    row-gap: 5px
    text-align: start
    margin-top: 28px
    margin-left: 15px
  &__p
    display: flex
    justify-content: center
    align-items: center
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.12)
    width: 71px
    height: 44px
    background: #F5F8FF
    margin-top: 30px
    margin-bottom: 43px















