@import "src/sass/base/mixins"



.brandForm
  width: 100%

  justify-content: center
  display: flex
  z-index: 1000

  &__wrapper
    position: relative
    width: 760px
    background: #FFFFFF
    padding: 0 30px 0 30px
    -ms-overflow-style: none
    scrollbar-width: none

  &__close
    position: absolute
    right: 18px
    top: 18px

  &__h2
    padding-top: 39px
    display: flex
    justify-content: center
    @include text(600,30px,133%,#000)
    margin-bottom: 20px
  &__form
      display: flex
      flex-direction: column
      margin-top: 27px
  &__label

    row-gap: 7px
    margin-bottom: 20px
    @include text(600,16px,133%,#000)
    input
      width: 100%
      border: 1px solid #00000080
      border-radius: 4px
      padding: 8px 5px
    display: flex
    flex-direction: column
    &-area
      padding: 8px 5px
      border: 1px solid #00000080
  &__text
    @include text(600,16px,133%,#000000)
  &__logo
    display: flex
    flex-direction: column
    row-gap: 15px
    h3
      @include text(600,14px,133%,#3378C9)
  &__download
      display: flex
      align-items: center
      column-gap: 8px
      margin-bottom: 30px
  &__span
    color: red

