@import "src/sass/base/mixins"


.management
  margin-top: 100px
  &__txt
    margin-top: 20px
    row-gap: 18px
    display: flex
    flex-direction: column
  &__h2
    text-align: center
    @include text(800,36px,133%,#40A865)
    border-bottom: 1px solid black
    margin-bottom: 16px
  &__h3
    margin-bottom: 20px
  &__halal
    margin-top: 52px
    padding: 24px 35px
    background: #CFE9D8
    @include text(600,20px,133%,#000000)
