@import "src/sass/base/mixins"
.connectionSection
  &__container
    padding: 56px 0 100px 0
  &__box
    display: flex
    column-gap: 30px
  &__title
    @include text(800,30px,133%,#10923E)
    text-align: center
    text-transform: uppercase
    margin-bottom: 45px
  &__oval
    width: 60px
    height: 60px
    background: #10923E
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center

  &__block
    display: flex
    align-items: center
    column-gap: 20px
  &__p
    @include text(800,22px,120%,#000)



@media (max-width: 1025px)
  .connectionSection
    &__wrapper
      display: flex
      justify-content: center
    &__box
      display: flex
      flex-direction: column
      row-gap: 33px

@media (max-width: 482px)
  .connectionSection
    &__title
      @include text(800,20px,133%,#00862D)
    &__oval
      width: 55px
      height: 55px
    &__p
      @include text(500,23px,120%,#000)
@media (max-width: 394px)
  .connectionSection
    &__p
      @include text(500,19px,120%,#000)


