@import "src/sass/base/mixins"

.footer
  background: #0057BC
  position: relative
  &__container
    padding: 58px 0 58px 0
    display: flex
    justify-content: space-between
  &__p
    @include text(400,16px,133%,#ffffff)
    margin-bottom: 17px
  &__right
    align-self: flex-end
  &__h2
    margin-bottom: 6px
    @include text(400,16px,133%,#ffffff)
  &__links
    display: flex
    column-gap: 20px
  &__center
    align-self: flex-end
  &__txt
    @include text(400,13px,120%,#fff)
    width: 154px
    text-align: center
    opacity: 0.5
  &__label
    display: flex
    align-items: center
    column-gap: 5px
    @include text(400,22px,133%,#fff)
    margin-bottom : 17px
  &__search
    @include text(400,16px,133%,#000)
    width: 100%
    background: transparent
    border-bottom: 2px solid #fff
  &__line
    width: 146px
    background: #fff
    height: 1px
  &__add
    column-gap: 5px
    display: flex
    align-items: center
    justify-content: space-between
    background: #fff
    padding: 17px 18px
  &__btn
    background: #FFFFFF
    border-radius: 50%
  &__wrapp
    column-gap: 65px
    display: flex
    justify-content: space-between
@media (max-width: 1024px)
  .footer
    &__links
      svg
        width: 32px
        height: 32px
    &__socials
      width: 16px
      height: 16px
    &__center

      align-self: inherit
    &__btn
      bottom: 5px
    &__center
      align-self: flex-end
@media (max-width: 769px)
  .footer
    &__container

    &__links
      width: 150px
      height: 64px
      display: flex
      row-gap: 15px
      flex-wrap: wrap
      column-gap: 25px
    &__wrapp
      column-gap: 0
@media (max-width: 482px)
  .footer
    &__wrapp
      width: 354px
      flex-direction: column
    &__h2
      @include text(400,16px,133%,#ffffff)
    &__p
      @include text(400,16px,133%,#ffffff)
      width: 354px
    &__links
      width: 184px
      flex-wrap: wrap
    &__center
      margin: 44px auto 0 auto

    &__btn
      position: absolute
      right: 30px
      bottom: 50px
      background: #FFFFFF
      border-radius: 50%
@media (max-width: 394px)
  .footer
    &__container
      padding: 36px 0 135px 0
    &__h2
      margin-top: 36px
    &__links
      display: flex
      flex-wrap: wrap
      width: 300px
      column-gap: 50px
      row-gap: 50px

      svg
        width: 50px
        height: 50px
    &__txt
      position: absolute

      bottom: 55px
    &__center
      display: flex
      justify-content: center
    &__btn
      right: 20px
      bottom: 50px






