@import "src/sass/base/mixins"

.footer
  background: #0057BC
  position: relative
  &__container

    padding: 58px 0 58px 0
    display: flex
    justify-content: space-between
  &__p
    @include text(400,16px,133%,#ffffff)
    margin-bottom: 17px


  &__h2
    margin-bottom: 6px
    @include text(400,16px,133%,#ffffff)
  &__links
    display: flex
    column-gap: 20px
  &__center
    align-self: flex-end
  &__txt
    @include text(400,13px,120%,#fff)
    width: 154px
    text-align: center
    opacity: 0.5
  &__label
    display: flex
    align-items: center
    column-gap: 5px
    @include text(400,22px,133%,#fff)
    margin-bottom : 17px
  &__search
    @include text(400,16px,133%,#000)
    width: 100%
    background: transparent
    border-bottom: 2px solid #fff
  &__line
    width: 146px
    background: #fff
    height: 1px
  &__add
    column-gap: 5px
    display: flex
    align-items: center
    justify-content: space-between
    background: #fff
    padding: 17px 18px
  &__btn
    position: absolute
    right: 55px
    bottom: 20px
    background: #FFFFFF
    border-radius: 50%
@media (max-width: 1025px)
  .footer
    &__links
      justify-content: space-between
      svg
        width: 32px
        height: 32px
    &__socials
      width: 16px
      height: 16px
    &__center

      align-self: inherit
    &__btn
      bottom: 5px
@media (max-width: 394px)
  .footer
    &__container
      position: relative
      display: flex
      flex-direction: column-reverse
      padding: 58px 0 135px 0
    &__h2
      margin-top: 36px
    &__links
      display: flex
      flex-wrap: wrap
      width: 300px
      column-gap: 50px
      row-gap: 50px
      justify-content: inherit
      svg
        width: 50px
        height: 50px
    &__txt
      position: absolute

      bottom: 55px
    &__center
      display: flex
      justify-content: center
    &__btn
      right: 20px
      bottom: 40px



