@import "src/sass/base/mixins"
.chooseIndustry
  &__h2
    @include text(600,16px,133%,#000000)
    margin-bottom: 15px
  &__star
    color: #F23C3C
  &__wrapper
    display: flex
    flex-wrap: wrap

