@import "src/sass/base/mixins"
.account
  background: #F3F3F3
  &__wrapper
    width: 100%
    background: #F3F3F3
    padding: 30px 15px 133px 0
  &__nav
    padding: 35px 15px 0 15px
    background: #ffffff
    height: 1300px
    min-width: 300px
  &__container
    display: flex
    column-gap: 40px

@media (max-width: 1201px)
  .account
    &__container
      column-gap: 30px

@media (max-width: 1025px)
  .account
    &__container
      column-gap: 20px
    &__nav
      min-width: 271px


@media (max-width: 770px)
  .account
    &__nav
      min-width: 227px

@media (max-width: 482px)
  .account
    &__container
      display: block
      column-gap: 0
    &__wrapper
      width: 100%
      padding: 0 0 100px 0
    &__nav
      display: none
      padding: 0
      width: 28%
      z-index: 5
      height: fit-content
      &_active
        display: flex
@media (max-width: 393px)