@import "src/sass/base/mixins"
.account
  background: #F3F3F3
  &__wrapper
    padding: 5px 0 133px 0
  &__nav
    padding: 35px 15px 0 25px
    background: #ffffff
    height: 900px
  &__container
    display: flex
    column-gap: 45px