@import "src/sass/base/mixins"
.account
  background: #F3F3F3
  &__wrapper
    width: 65%
    padding: 15px 0 133px 0


  &__nav
    padding: 35px 15px 0 25px
    background: #ffffff
    height: 1300px
    width: 30%

  &__container
    display: flex
    column-gap: 20px
    flex-wrap: wrap