@import "src/sass/base/mixins"
.txtSection
  &__container
    display: flex
    align-items: center
    text-align: center


    justify-content: center




  &__h2
    width: 882px
    background: #CFE9D8


    @include text(500,20px,133%,#4B4B4B)
    padding: 37px 60.5px
    border-radius: 50px 0
    margin-top: 65px

