@import "src/sass/base/mixins"
.txtSection
  &__container
    display: flex
    align-items: center
    text-align: center
    justify-content: center
  &__h2
    width: 882px
    background: #CFE9D8
    @include text(500,20px,133%,#4B4B4B)
    padding: 37px 60.5px
    border-radius: 50px 0
    margin-top: 65px
@media (max-width: 1201px)
@media (max-width: 1025px)
  .txtSection
    &__container
      display: flex
      align-items: center
      text-align: center
      justify-content: center
    &__h2
      @include text(500,18px,133%,#4B4B4B)
      width: 830px
      background: #CFE9D8
      padding: 41.5px 65px
      margin-top: 65px
      border-radius: 50px 0
@media (max-width: 769px )

@media (max-width: 394px )
  .txtSection
    &__h2
      width: 350px
      background: #CFE9D8
      @include text(500,15px,133%,#4B4B4B)
      padding: 17.5px 15.5px
      border-radius: 50px 0
      margin-top: 70px

