@import "src/sass/base/mixins"

.newsmore
  &__container
    padding: 52px 0 119px 0
  &__wrapper
    display: flex
    justify-content: space-between
  &__back
    align-items: center
    display: flex
    gap: 10px
    margin-bottom: 13px
  &__h2
    @include text(600,17px,131%,#000)