@import "src/sass/base/mixins"
.association

  &__wrapper
    display: flex
    align-items: center
    padding: 88px 0 38px 0
    column-gap: 21px
    justify-content: center
    border-bottom: 1px solid #00862D

  &__ameca
    img
      max-width: 444px


  &__h2
    @include text(700,25px,133%,#000000)
    max-width: 412px
    span

      @include text(700,25px,133%,#00862D)
  &__text
    display: flex
    flex-direction: column
    padding: 20px 0 28px 0
    text-align: center
    align-items: center



  &__h3
    @include text(500,25px,133%,#000000)
    margin-bottom: 8px
    max-width: 885px

  &__p
    @include text(500,25px,133%,#000000)
    max-width: 870px
  &__site
    display: flex
    align-items: center
    justify-content: center
    text-align: center

  &__link
    display: flex
    align-items: center
    margin-left: 50px
  &__ref
    margin-left: 10px
@media (max-width: 1201px)
  .association
    &__ameca
      img
        max-width: 392px

    &__h2
      @include text(700,22px,133%,#000000)
      max-width: 364px
    &__span
      @include text(700,22px,133%,#00862D)
    &__h3
      @include text(500,22px,133%,#000000)
    &__p
      @include text(500,22px,133%,#000000)
@media (max-width: 1025px)
  .association

    &__ameca
      img
        max-width: 323px
    &__h2
      @include text(700,20px,133%,#000000)

      span

        @include text(700,20px,133%,#00862D)
    &__h3
      @include text(500,20px,133%,#000000)
      max-width: 740px
    &__p
      @include text(500,20px,133%,#000000)
      max-width: 674px
@media (max-width: 769px )
  .association

    &__ameca
      img
        max-width: 266px
    &__h2
      @include text(700,18px,133%,#000000)
      max-width: 274px



      span
        @include text(700,18px,133%,#00862D)
    &__h3
      @include text(500,18px,133%,#000000)
      max-width: 610px
    &__p
      @include text(500,18px,133%,#000000)
      max-width: 555px
@media (max-width: 481px )
  .association
    &__site
      display: flow-root

    &__link
      margin-bottom: 12px
    &__wrapper
      flex-wrap: wrap

    &__ameca
      img
        max-width: 266px
    &__h2
      @include text(700,15px,133%,#000000)
      text-align: center
      margin-top: 23px
      max-width: 247px
      span
        @include text(700,15px,133%,#00862D)
    &__h3
      @include text(500,16px,133%,#000000)
      max-width: 430px
    &__p
      @include text(500,16px,133%,#000000)
      max-width: 430px

@media (max-width: 394px )
  .association
    &__h3
      max-width: 350px
    &__p
      max-width: 350px


