

.zoneCard
  position: relative
  margin-bottom: 100px
  .mySwiper
    display: none
  &__container
    margin: 0 auto
    display: flex
    flex-direction: column
    row-gap: 100px
  &__img
    position: absolute
    z-index: -1
    top: -800px


@media (max-width: 950px)
  .zoneCard
    &__container
      padding: 0 15px
      row-gap: 70px
@media (max-width: 770px)
  .zoneCard
    &__container
      padding: 0
      row-gap: 50px


@media (max-width: 700px)
  .zoneCard
    margin-bottom: 50px
    &__container
      padding: 0 15px


@media (max-width: 450px)
  .zoneCard
    &__container
      padding: 0

@media (max-width: 482px)
  .zoneCard


    .mySwiper
      display: flex
      height: 760px
    .swiper-button-next ,  .swiper-button-prev
      display: none
    &__nav
      &_after
        background: #087AFF
        z-index: 5
        width: 50px
        height: 50px
        position: absolute
        right: 80px
        bottom: 0
        border-radius: 50%
      &_before
        background: #087AFF
        z-index: 5
        position: absolute
        right: 20px
        bottom: 0

        width: 50px
        height: 50px
        border-radius: 50%

    &__container
      display: none
      padding: 0 15px

@media (max-width: 394px)
  .zoneCard
    .mySwiper
      display: flex
      height: 710px
    &__container
      padding: 0
