@import "src/sass/base/mixins"
.contentSection
  &__container
    display: flex
    column-gap: 61px
    padding-bottom: 100px

@media (max-width: 1025px)
  .contentSection
    &__container
      display: flex
      flex-direction: column
@media (max-width: 680px)
  .contentSection
    &__container
      padding: 0 30px


