@import "src/sass/base/mixins"
.foodZone
  &__h2
    @include text(800,45px,133%,#000)
    text-align: center
    padding: 60px 0 42px 0
  &__row
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: column
  &__text
    margin-top: 30px
  &__p
    @include text(600,25px,133%,#000000)
    margin-top: 30px
  &__h3
    @include text(600,18px,133%,#07BD50)

@media (max-width: 1201px)
  .foodZone
    &__p
      @include text(600,20px,133%,#000)

@media (max-width: 1025px)
  .foodZone

    &__p
      @include text(600,18px,133%,#000)

    &__h3
      @include text(600,14px,133%,#07BD50)


@media (max-width: 769px)
  .foodZone

    &__p
      @include text(600,15px,133%,#000)

    &__h3
      @include text(600,12px,133%,#07BD50)

@media (max-width: 481px)
  .foodZone
    &__row
      flex-wrap: wrap

@media (max-width: 369px)
  .foodZone
    &__p
      @include text(600,14px,133%,#000)

    &__h3
      @include text(600,12px,133%,#07BD50)
