@import "src/sass/base/mixins"
.foodZone
  &__img
    border-radius: 20px

  &__h2
    @include text(800,45px,133%,#000)
    text-align: center
    padding: 60px 0 42px 0
  &__row
    display: flex
    justify-content: space-between
  &__h4
    @include text(600,25px,133%,#000000)
    max-width: 590px
    margin-bottom: 169px


  &__h3
    @include text(600,18px,133%,#000000)
    max-width: 604px