@import "src/sass/base/mixins"


.exhibition
  margin-top: 100px
  &__wrapper
    display: flex
    justify-content: space-between
  &__box
    display: flex
    flex-direction: column
    align-items: center


  &__h2
    @include text(800,36px,133%,#40A865)
    margin-bottom: 53px
  &__img
    border: 1px solid black
    display: flex

    background: #001F43
    width: 135px
    height: 130px
    margin-bottom: 26px
  &__p
    text-align: center
    width: 200px

