@import "src/sass/base/mixins"
.notfound
  padding-top: 50px
  display: flex
  justify-content: center
  &__wrapper
    text-align: center
  &__pic
    width: 200px
    height: 200px
  &__h2
    @include text(500,18px,131%,#000000)
    margin-bottom: 30px
  &__link
    background: #41B9E1
    border-radius: 20px
    padding: 15px 20px
    color: #ffffff
    font-size: 20px