@import "src/sass/base/mixins"
.cardPdf

  &__container
    margin-top: 154px

  &__txt
    background: #00862D
    border-radius: 4px
    align-items: center
    justify-items: center
    width: 410px
    margin: 18px auto
    display: flex









  &__h2
    @include text(600,20px,133%,#ffffff)
    padding: 21px 41px
    text-align: center







