@import "src/sass/base/mixins"
.checkBox
  &__wrapper
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    margin-bottom: 45px
  &__box
    width: 50%
    display: flex
    flex-wrap: wrap
    column-gap: 7px
    flex-direction: column

    label
      display: flex
      align-items: center

    input
      margin-right: 6px
      width: 20px
      height: 20px

  &__name
    @include text(600,20px,133%,#000000)
    margin-bottom: 19px
